{% csrf_token %}
<fieldset>
    <div class="control-group">
        <label class="control-label">Username</label>
        <div class="controls">
            <div class="form-username">dexity</div>
            <span class="help-inline e-color-grey e-padding-top-5" style="margin-left: 20px">(Cannot be changed)</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.first_name.auto_id }}">
            <b>{{ form.first_name.label }}</b>
        </label>
        <div class="controls">
            {{ form.first_name }}
            {% if form.first_name.errors %}
            <div class="alert alert-error error_spaces">
                {{ form.first_name.errors|first }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.last_name.auto_id }}">
            <b>{{ form.last_name.label }}</b>
        </label>
        <div class="controls">
            {{ form.last_name }}
            {% if form.last_name.errors %}
            <div class="alert alert-error error_spaces">
                {{ form.last_name.errors|first }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.email.auto_id }}"><b>{{ form.email.label }}</b></label>
        <div class="controls">
            {{ form.email }}
            <label class="checkbox inline e-checkbox">
                {{ form.show_email }} Show
            </label>            
            <span class="help-inline e-color-grey">(Required)</span>
            {% if form.email.errors %}
            <div class="alert alert-error error_spaces">
                {{ form.email.errors|first }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.location.auto_id }}"><b>{{ form.location.label }}</b></label>
        <div class="controls">
            {{ form.location }}
            {{ form.country }}
            <label class="checkbox inline e-checkbox">
                {{ form.show_location }} Show
            </label>            
            {% if form.location.errors %}
            <div class="alert alert-error error_spaces">
                {{ form.location.errors|first }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><b>Birthday</b></label>
        <div class="controls">
            {{ form.b_month }}
            {{ form.b_day }}
            {{ form.b_year }}
            <label class="checkbox inline e-checkbox">
                {{ form.show_birthday }} Show
            </label>   
            <span class="help-inline e-color-grey">
                (<abbr title="Used to verify age and hidden by default">Year Required</abbr>)</span>          
            {% if form.b_year.errors %}
            <div class="alert alert-error error_spaces">
                {{ form.b_year.errors|first }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.gender.auto_id }}"><b>{{ form.gender.label }}</b></label>
        <div class="controls">
            {% for radio in form.gender %}
            <div class="radio inline">
                {{ radio }}
            </div>
            {% endfor %}
            <label class="checkbox inline e-checkbox">
                {{ form.show_gender }} Show
            </label>   
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.description.auto_id }}">
            <b>{{ form.description.label }}</b>
        </label>
        <div class="controls">
            {{ form.description }}
            {% if form.description.errors %}
            <div class="alert alert-error error_spaces">
                {{ form.description.errors|first }}
            </div>
            {% endif %}
        </div>
    </div>    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a class="aux-link" href="/profile">Cancel</a>
    </div>    
</fieldset>