{% csrf_token %}
<fieldset>
    <div class="form-group">
        <div class="col-xs-3 prof-left">Username:</div>
        <div class="col-xs-9">
            <div class="e-username">{{user.username}}</div>
            <span class="e-color-grey" style="margin-left: 20px">(Cannot be changed)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 prof-left">
            <label class="control-label">{{ form.first_name.label }}:</label>
        </div>
        <div class="col-sm-5 col-xs-12">
            {{ form.first_name }}
            {% if form.first_name.errors %}
            <div class="alert alert-error error_spaces">
                {{ form.first_name.errors|first }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 prof-left">
            <label class="control-label">{{ form.last_name.label }}:</label>
        </div>
        <div class="col-sm-5 col-xs-12">
            {{ form.last_name }}
            {% if form.last_name.errors %}
            <div class="alert alert-error error_spaces">
                {{ form.last_name.errors|first }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 prof-left">
            <label class="control-label">{{ form.email.label }}:</label>
        </div>
        <div class="col-sm-5 col-xs-6">
            {{ form.email }}
            {% if form.email.errors %}
            <div class="alert alert-error error_spaces">
                {{ form.email.errors|first }}
            </div>
            {% endif %}
        </div>
        <div class="col-sm-3 col-xs-6 checkbox">
            <label class="inline">{{ form.show_email }} Show</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 prof-left">
            <label class="control-label">{{ form.location.label }}:</label>
        </div>
        <div class="col-sm-5 col-xs-5">
            {{ form.location }}
            {% if form.location.errors %}
            <div class="alert alert-error error_spaces">
                {{ form.location.errors|first }}
            </div>
            {% endif %}
        </div>
        <div class="col-sm-3 col-xs-4">
            {{ form.country }}
        </div>
        <div class="col-sm-1 col-xs-3 checkbox">
            <label class="inline">{{ form.show_location }} Show</label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3 prof-left">
            <label class="control-label">Birthday:</label>
        </div>
        <div class="col-sm-6 col-xs-9">
            <div class="form-inline">
                {{ form.b_month }}
                {{ form.b_day }}
                {{ form.b_year }}
            </div>
            <div class="e-color-grey">
                (<abbr title="Used to verify age and hidden by default">Year Required</abbr>)
            </div>
            {% if form.b_year.errors %}
            <div class="alert alert-error error_spaces">
                {{ form.b_year.errors|first }}
            </div>
            {% endif %}
        </div>
        <div class="col-sm-1 col-xs-3 checkbox">
            <label> {{ form.show_birthday }} Show</label>
        </div>
{#        <div class="col-sm-2 col-xs-offset-1 col-xs-3">#}
{#            <div class="e-year-label e-color-grey">#}
{#                (<abbr title="Used to verify age and hidden by default">Year Required</abbr>)#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-sm-1 col-xs-6 checkbox">#}
{#            <label> {{ form.show_birthday }} Show</label>#}
{#        </div>#}
    </div>
    <div class="form-group">
        <div class="col-sm-3 prof-left">
            <label class="control-label">{{ form.gender.label }}:</label>
        </div>
        <div class="col-sm-6 col-xs-9">
            {% for radio in form.gender %}
            <label class="radio-inline">
                {{ radio }}
            </label>
            {% endfor %}
            {% if form.gender.errors %}
            <div class="alert alert-error error_spaces">
                {{ form.gender.errors|first }}
            </div>
            {% endif %}
        </div>
        <div class="col-xs-3 checkbox">
            <label class="inline e-checkbox">
                {{ form.show_gender }} Show
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 prof-left">
            <label class="control-label">{{ form.description.label }}:</label>
        </div>
        <div class="col-sm-6">
            {{ form.description }}
            {% if form.description.errors %}
            <div class="alert alert-error error_spaces">
                {{ form.description.errors|first }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a class="aux-link" href="{% url "profile" %}">Cancel</a>
        </div>
    </div>    
</fieldset>