<form class="form-horizontal" action="/login" method="post" >
    {% csrf_token %}
    <fieldset>
	<div class="control-group">
	    <label class="control-label" for="{{ form.username.auto_id }}"><b>{{ form.username.label }}</b></label>
	    <div class="controls"> 		
		{{ form.username }}
	    </div>   
	</div>
      <div class="control-group">
        <label class="control-label" for="{{ form.password.auto_id }}"><b>{{ form.password.label }}</b></label>
        <div class="controls">
	    {{ form.password }}
	    <span class="help-inline"><a href="/forgot">Forgot?</a></span>
	    {% if form.non_field_errors %}
	    <div class="alert alert-error error_spaces" style="">
		{{ form.non_field_errors|first }}
	    </div>
	    {% endif %}
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
	    <button type="submit" class="btn btn-primary">Login</button>
	    <div class="e-margin-bottom-20"></div>
	    Don't have an account? <a href="/join">Create one</a>
        </div>
      </div>
    </fieldset>
</form>