{% csrf_token %}
<br>
{% for field in form %}
<div class="form-group">
    <div class="col-sm-3 prof-left">
        <label class="control-label">{{field.label}}</label>
    </div>
    <div class="col-sm-6">
        {{ field }}
        {% if forloop.first %}
        <span class="help-block">Password should be from 6 to 30 characters</span>
        {% endif %}
        {% if field.errors %}
        <div class="alert alert-error error_spaces">
            {{ field.errors|first }}
        </div>
        {% endif %}
    </div>
    <div class="col-sm-3">
        <div class="help-inline e-color-grey">(Required)</div>
    </div>
</div>
{% endfor %}
<br>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">{{submit_btn}}</button>
        <a class="aux-link" href="{% url "home" %}">Cancel</a>
    </div>
</div>
