{% csrf_token %}
<fieldset>
    {% for field in form %}
    <div class="control-group">
        <label class="control-label" for="{{ field.auto_id }}"><b>{{field.label}}</b></label>
        <div class="controls">
            {{ field }}
            <span class="help-inline e-color-grey">(Required)</span>
            {% if forloop.first %}
            <span class="help-block">Password should be from 6 to 30 characters</span>
            {% endif %}
            {% if field.errors %}
            <div class="alert alert-error error_spaces">
                {{ field.errors|first }}
            </div>
            {% endif %}            
        </div>
    </div>
    {% endfor %}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">{{submit_btn}}</button>
            <a class="aux-link" href="/">Cancel</a>
        </div>
    </div>
</fieldset>