{% if username %}
    {% if max_limit %}
    <div class="alert alert-error" style="margin-top: 10px;">
        You reached 10 requests. <br />
        Please wait till the end of the promo <br />
        or <a href="#">manage requests</a>
        <!--XXX: Add link -->
    </div>
    {% else %}
    <div style="margin-bottom: -10px;">
        <div style="margin-bottom: 10px;"><b>Location:</b> {{lat}}; {{lon}}</div>
        <form action="/request/add" method="post">
            {% csrf_token %}
            {{ form.lat }}
            {{ form.lon }}
            {{ form.description }}<br/>
            {% if form.description.errors %}
            <div class="red">{{ form.description.errors|first }}</div>
            {% endif %}
            {% if form.non_field_errors %}
            <div class="red">{{ form.non_field_errors|first }}</div>
            {% endif %}
            <button class="btn btn-primary" id="send_request" style="margin-top: 10px;" >Submit Request</button>
        </form>
    </div>
    {% endif %}
{% else %}
<div class="alert alert-error" style="margin-top: 10px;">
    Please <a href="/login">login</a> or <a href="/join">sign up</a> to make a request
</div>
{% endif %}