<form class="form-horizontal" action="/verify/resend" method="post" >
    {% csrf_token %}
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="{{ form.email.auto_id }}"><b>{{ form.email.label }}</b></label>
        <div class="controls">
            {{ form.email }}
	    {% if form.non_field_errors %}
	    <div class="alert alert-error error_spaces">
		{{ form.non_field_errors|first }}
	    </div>
	    {% endif %}            
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Send Activation Link</button>
            <a href="/" style="margin-left: 20px;">Cancel</a>
        </div>
      </div>
    </fieldset>
</form>