{% include 'header.html' %}

<h3>Security Check</h3>
<div class="e-margin-bottom-10"></div>
<div class="row">
    <div class="offset1">
		Enter <b>both words</b> below, <b>separated by a space</b>. <br />
		Can't read the words below? <a href="">Try different words</a> or <a href="">an audio captcha</a>.
		<div class="e-margin-bottom-10"></div>
		<img src="/media/img/security.jpg" />
		<form class="form-inline">
		    <label>Text in the box:</label>
		    <input type="text" class="input-medium">
		    <a href="" class="help-inline">What's this?</a>
		    <div class="clear_both"></div>
		    <div class="e-margin-bottom-10"></div>
		    <button type="submit" class="btn btn-primary">Done!</button>
		</form>
		<div class="e-text-small span4">By clicking "Done!", you are indicating that you have 
read and agree to the <a href="">Terms of Service</a> and <a href="">Privacy Policy</a></div>
    </div>
</div>
{% include 'footer.html' %}