<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Emapix Layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA85oDjeGmemRXYK5MfKfCM3RKVadnrHDk&sensor=true">
    </script>
    <script type="text/javascript" src="/media/js/main.js"></script>    
    <link href="/media/css/main.css" rel="stylesheet">
    <link href="/media/css/bootstrap.css" rel="stylesheet">
    <link href="/media/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50" onload="initialize()">
	<div class="container">
	    <div class="pull-right e-nav-user">
	        <a href="#"><b>dexity</b></a> <a href="#">Settings</a> 
	        <a href="#" class="brown">Requests</a> <span class="badge badge-important">34</span>
	        <a href="#" class="green">Photos</a> <span class="badge badge-success">12</span>
	        <a href="#">Help</a> <a href="#">Logout</a>
	    </div>
	    <div class="clear_both"></div>
	    <div class="row e-nav">
	       <div class="span3">
	           <a href="#" id="logo"><img src="/media/img/mountains.png" /></a><h2>Emapix</h2>
	       </div>
	       <div class="span6">
	           <ul class="nav nav-pills pull-left">
	            <li class="active"><a href="#"><b>Requests</b></a></li>
	            <li><a href="#"><b>Photos</b></a></li>
	           </ul>
	           <form class="pull-left" action="">
	            <input type="text" class="search-query span3" placeholder="City, Zip code ...">
	           </form>
	       </div>
	       <div class="span3">
	           <a href="/layout/make" class="btn btn-success"><b>Make Request</b></a>
	       </div>
	    </div>
	    <div class="clear_both"></div>