<html>
<body>
	<h2>Layouts</h2>
	<ul>
	   <li>[DONE] <a href="requests">Requests</a></li>
	   <li>[DONE] <a href="request">Request</a></li>
	   <li>[DONE] <a href="request2">Completed Request</a></li>
	   <li>[DONE] <a href="photos">Photos</a></li>
	   <li>[DONE] <a href="search">Search</a></li>
	   <li>[VOID] <a href="search2">Search Map</a></li>
	   <li>[DONE] <a href="submit">Submit Photos</a></li>
	   <li>[DONE] <a href="submit2">Submit Photos (Trim)</a></li>
	   <li>[DONE] <a href="submit3">Submit Photos (Progress)</a></li>
	   <li><a href="make">Make Request</a></li>
	</ul>
</body>
</html>