<html>
<body>
	<h2>Layouts</h2>
	<ul>
	   <li>[DONE] <a href="join">Join Emapix</a></li>
	   <li>[DONE] <a href="confirm">Join Confirm</a></li>
	   <li>[DONE] <a href="login">Login (popup)</a></li>
	   <li>[DONE] <a href="forgot">Forgot Password</a></li>
	   <li>[DONE] <a href="set_profile">Set Profile</a></li>
	   <li>[DONE] <a href="set_password">Set Password</a></li>
	   <li>[DONE] <a href="profile">User Profile</a></li>
	   <li><a href="users">Users</a></li>
	   <li>[DONE] <a href="requests">Requests</a></li>
	   <li>[DONE] <a href="request">Request</a></li>
	   <li>[DONE] <a href="request2">Completed Request</a></li>
	   <li>[DONE] <a href="photos">Photos</a></li>
	   <li>[DONE] <a href="search">Search</a></li>
	   <li>[DONE] <a href="submit">Submit Photos</a></li>
	   <li>[DONE] <a href="submit2">Submit Photos (Trim)</a></li>
	   <li>[DONE] <a href="submit3">Submit Photos (Progress)</a></li>
	   <li>[DONE] <a href="make">Make Request</a></li>
	   <li><a href="help">Help</a></li>
	</ul>
</body>
</html>