{% include 'header.html' %}

<h3>Recent Photos</h3>

<div class="row e-photo-row">
    <div class="col-md-2">
        <a href=""><img src="/media/img/photo_medium.png"/></a>
        <a href="">San Diego, CA</a>
    </div>
    <div class="col-md-2">
        <a href=""><img src="/media/img/photo_medium.png"/></a>
        <a href="">La Jolla, CA</a>
    </div>
    <div class="col-md-2">
        <a href=""><img src="/media/img/photo_medium.png"/></a>
        <a href="">Pasadena, CA</a>
    </div>
    <div class="col-md-2">
        <a href=""><img src="/media/img/photo_medium.png"/></a>
        <a href="">Bloomington, IN</a>
    </div>
</div>
<div class="row e-photo-row">
    <div class="col-md-2">
        <a href=""><img src="/media/img/photo_medium.png"/></a>
        <a href="">San Diego, CA</a>
    </div>
    <div class="col-md-2">
        <a href=""><img src="/media/img/photo_medium.png"/></a>
        <a href="">La Jolla, CA</a>
    </div>
    <div class="col-md-2">
        <a href=""><img src="/media/img/photo_medium.png"/></a>
        <a href="">Pasadena, CA</a>
    </div>
    <div class="col-md-2">
        <a href=""><img src="/media/img/photo_medium.png"/></a>
        <a href="">Bloomington, IN</a>
    </div>
</div>

<div class="clear_both"></div>    
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>


{% include 'footer.html' %}