{% include 'header.html' %}

{% load get_range %}

<button class="btn-large btn-success" id="join"><b>Join Emapix</b></button>
<h3>Recent Requests</h3>

<div id="e-requests-list">
    <div class="e-request-item e-first-item span8">
        <a href=""><img src="/media/img/request.png"/></a>
        <div>
            <div class="e-request-description"><a href="">Planning to hike in this place ...</a><button class="close">&times;</button></div>
            <div> 6983 Navajo Rd. <span class="label">San Diego, CA</span> 
             <div class="pull-right">
              <div class="e-request-time">10 hr 1 min ago</div>
                    <div class="pull-right">Requested by <a href="">dexity</a></div>
             </div>
            </div>
        </div>
    </div>
    
{% for i in 9|get_range %}   
    <div class="e-request-item span8">
        <a href=""><img src="/media/img/request.png"/></a>
        <div>
            <div class="e-request-description"><a href="">Planning to hike in this place ...</a><button class="close">&times;</button></div>
            <div> 6983 Navajo Rd. <span class="label">San Diego, CA</span> 
                <div class="pull-right">
                    <div class="e-request-time">10 hr 1 min ago</div>
                    <div class="pull-right">Requested by <a href="">dexity</a></div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}               
</div>
<div class="clear_both"></div>    
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>

{% include 'footer.html' %}