{% include 'header.html' %}

<h3>Settings</h3>
<div class="e-margin-bottom-10"></div>
<div class="row">
    <div class="span2">
        <ul class="nav nav-list">
          <li class="active"><a href="/layout/set_profile">Profile</a></li>
          <li><a href="/layout/set_password">Password</a></li>
        </ul>    
    </div>
	<div class="span8">
	  <form class="form-horizontal" action="/layout/confirm">
	    <fieldset>
          <div class="control-group">
            <div class="control-label" style="margin-top: -5px"><img src="/media/img/user.png" /></div>
            <div class="controls">
	          <div class="pull-left"><h4>Profile Photo</h4></div>
	          <div class="e-alert pull-left" style="margin-top: -5px">Up to 5Mb in JPEG or PNG formats.</div>
              <input class="input-file" id="fileInput" type="file">
            </div>            
          </div>	    
          <div class="control-group">
            <label class="control-label">Username</label>
            <div class="controls">
                <div style="font-size: 15px; font-weight: bold; padding-top: 5px; float:left;">dexity</div>
                <span class="help-inline e-color-grey e-padding-top-5" style="margin-left: 20px">(Cannot be changed)</span>
            </div>
          </div>
	      <div class="control-group">
	        <label class="control-label" for="input01">First Name</label>
	        <div class="controls">
	          <input type="text" class="input-large" id="input01">
	        </div>
	      </div>
          <div class="control-group">
            <label class="control-label" for="input02">Last Name</label>
            <div class="controls">
              <input type="text" class="input-large" id="input02">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input03">Email</label>
            <div class="controls">
              <input type="text" class="input-large" id="input03">
	          <label class="checkbox inline e-checkbox">
	            <input type="checkbox" id="optionsCheckbox" value="option1"> Show
	          </label>
	          <span class="help-inline e-color-grey">(Required)</span>
            </div>
          </div>
	      <div class="control-group">
	        <label class="control-label" for="input04">Location</label>
	        <div class="controls">
	          <input type="text" class="input-large" id="input04" placeholder="City, State">
	          <select id="select01" class="input-medium">
	            <option>United States</option>
	            <option>2</option>
	            <option>3</option>
	            <option>4</option>
	            <option>5</option>
	          </select>        
              <label class="checkbox inline e-checkbox">
                <input type="checkbox" id="optionsCheckbox" value="option1"> Show
              </label>
	        </div>
	      </div>
	      <div class="control-group">
	        <label class="control-label" for="input05">Birthday</label>
	        <div class="controls">
	          <select id="select02" class="input-small">
	            <option>Month</option>
	            <option>January</option>
	          </select>        
	          <select id="select03" class="input-mini">
	            <option>Day</option>
	            <option>1</option>
	          </select>        
	          <select id="select04" class="input-mini">
	            <option>Year</option>
	            <option>2012</option>
	          </select>
	          <label class="checkbox inline e-checkbox">
	            <input type="checkbox" id="optionsCheckbox" value="option1"> Show
	          </label>
	          <span class="help-inline e-color-grey">(<abbr title="Used for authenticity and hidden by default">Required</abbr>)</span>          
	        </div>
	      </div>
	      <div class="control-group">
	        <label class="control-label" for="inlineRadio">Gender</label>
	        <div class="controls">
	            <label class="radio inline">
	                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	                Male
	            </label>        
	            <label class="radio inline">
	                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	                Female
	            </label>        
	            <label class="radio inline">
	                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
	                Rather not say
	            </label>        
	        </div>
	      </div>
          <div class="control-group">
            <label class="control-label" for="textarea">About Yourself</label>
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" rows="3"  placeholder="Tell something about yourself"></textarea>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <button class="btn">Cancel</button>
          </div>
	    </fieldset>
	  </form>
	</div>
    
</div>

{% include 'footer.html' %}