{% include 'header.html' %}

<div class="pull-left"><h3>Submit Photo</h3></div>
<div class="e-alert-head pull-left">Photo can be up to 5Mb and in JPEG or PNG formats.</div>
<div class="clear_both"></div>
<img src="/media/img/photo_large.png" width="460" height="460" />
<div class="clear_both e-margin-bottom-10"></div>
<button class="btn btn-success"><b>Trim Photo</b></button>
<div class="clean_both e-margin-bottom-20"></div>
<a href="/layout/request">Request details</a><br />
<a href="">Select another photo</a>

{% include 'footer.html' %}