{% extends "modals/submit.html" %}
{% load jstmpl %}

{% block modal_top %}
<link rel="stylesheet" href="/media/fileuploader/css/jquery.fileupload-ui.css">
{% endblock %}

{% block modal_body %}
<div class="e-alert alert-success pull-left" style="margin: 0px;">
    Photo can be up to 5Mb and in JPEG or PNG formats.
</div>
{% endblock %}

{% block modal_footer %}
<form id="fileupload">
    <div id="files_container"></div> 
    {% csrf_token %}
    <div class="modal_status"></div>
    <span class="btn btn-primary fileinput-button" id="select_file">
        <span class="select_button">Select File</span>
        {{ form.file }}
    </span>
    <a href="#" data-dismiss="modal">Close</a>
</form>
{% endblock %}

{% block modal_bottom %}
<script id="template-content" type="text/x-tmpl">
    {% jstmpl "js/fileupload.html" %}
</script>
{% endblock %}
