{% extends "misc/request_controls.html" %}

{% block left_column %}
{% if is_open %}
    <a href="#" id="edit_request">Edit Request</a><br />
    {% if pic_url %}
    <a href="#" id="submit_photo">Submit Different Photo</a><br />
    {% endif %}
    <a href="{% url "request_status" req.resource "close" %}" id="request_status">Close Request</a>
    <img src="/media/img/spinner_small.gif" id="close_spinner" style="display: none" class="e-spinner"/><br />
{% else %}
    <a href="{% url "request_status" req.resource "open" %}" id="request_status">Open Request</a>
    <img src="/media/img/spinner_small.gif" id="close_spinner" style="display: none" class="e-spinner"/><br />
{% endif %}
{% endblock %}

{% block right_column %}
{% if is_open and pic_url %}
    <a href="#" class="red" id="remove_photo">Remove Photo</a><br />
{% endif %}
<a href="{% url "remove_request" req.resource %}" class="red" id="remove_request">Remove Request</a><br />
{% endblock %}
