<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Emapix Layouts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <script src="/media/js/jquery-1.7.2.min.js"></script>
        <script src="/media/bootstrap/js/bootstrap.js"></script> 
        <script type="text/javascript" src="/media/js/main.js"></script>
        
        <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/media/css/main.css" rel="stylesheet">
        <link href="/media/css/bootstrap.comp.css" rel="stylesheet">
    
        {% block header %}{% endblock %}
  
    </head>
    <body data-spy="scroll" data-target=".subnav" data-offset="50">
        <div class="container">
            {% if userprof %}
            <div class="pull-right e-nav-user">
                <a href="/user/{{user.username}}"><b>{{user.username}}</b></a> 
                <a href="/profile">Settings</a> 
                <a href="/user/{{user.username}}/requests" class="brown">Requests</a> <span class="badge badge-important">{{userprof.num_requests}}</span>
                <a href="/user/{{user.username}}/photos" class="green">Photos</a> <span class="badge badge-success">{{userprof.num_photos}}</span>
                <a href="#">Help</a> 
                <a href="/logout">Logout</a>
            </div>
            {% else %}
                <div class="pull-right e-nav-user">
                    <a href="#">Help</a> 
                    <a href="/login">Login</a>                
                </div>
            {% endif %}
            <div class="clear_both"></div>
            <div class="row e-nav">
               <div class="span3">
                   <a href="/" id="logo"><img src="/media/img/mountains.png" /></a><h2>Emapix</h2>
               </div>
               <div class="span6">
                   <ul class="nav nav-pills pull-left">
                    <li id="nav_requests"><a href="/requests"><b>Requests</b></a></li>
                    <li id="nav_photos"><a href="/photos"><b>Photos</b></a></li>
                    <li id="nav_users"><a href="/users"><b>Users</b></a></li>
                   </ul>
                   <!--<form class="pull-left" action="">
                    <input type="text" class="search-query span2" placeholder="City, Zip code ...">
                   </form>-->
               </div>
               <div class="span3">
                   <a href="/request/make" class="btn btn-success"><b>Make Request</b></a>
               </div>
            </div>
            {% if not userprof %}
            {% if not hide_join %}
            <button class="btn btn-large btn-success" id="join" onClick="location.href='/join'"><b>Join Emapix</b></button>
            <div class="clear_both"></div>
            {% endif %}
            {% endif %}
            
            {% block content %}{% endblock %}
    
            <div class="clear_both"></div>
            <div class="footer">
                <a href="#">Help</a>
                <a href="#">About</a>
                <a href="#">Forum</a>
                <a href="#">Feedback</a>
                <a href="#">Developer</a>
                <a href="#">Privacy</a>
                <a href="#">Terms of Service</a>
                Emapix &copy; 2012, Alex Dementsov
            </div>
        </div>
        {% block footer %}{% endblock %}
    </body>
</html>