<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Emapix</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <script src="/media/js/jquery-1.7.2.min.js"></script>
        <script src="/media/bootstrap/js/bootstrap.js"></script> 
        <script type="text/javascript" src="/media/js/main.js"></script>
        
        <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/media/css/main.css" rel="stylesheet">
        <link href="/media/css/bootstrap.comp.css" rel="stylesheet">
    
        {% block header %}{% endblock %}
  
    </head>
    <body data-spy="scroll" data-target=".subnav" data-offset="50">
        <div class="container">
            {% include "header.html" %}
            {% block content %}{% endblock %}
            {% include "footer.html" %}
        </div>
        {% block footer %}{% endblock %}
        {{ config.google_analytics|safe }}
    </body>
</html>