<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Emapix Layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="/media/js/jquery-1.7.2.min.js"></script>
    <script src="/media/bootstrap/js/bootstrap.js"></script> 
    
    <script type="text/javascript" src="/media/js/main.js"></script>    
    <link href="/media/css/main.css" rel="stylesheet">
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    {% block header %}{% endblock header %}

  </head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="container">
        {% if username %}
        <div class="pull-right e-nav-user">
            <a href="/profile"><b>dexity</b></a> 
            <a href="/set_profile">Settings</a> 
            <a href="/requests" class="brown">Requests</a> <span class="badge badge-important">34</span>
            <a href="/photos" class="green">Photos</a> <span class="badge badge-success">12</span>
            <a href="/help">Help</a> 
            <a href="/logout">Logout</a>
        </div>
        {% else %}
            <div class="pull-right e-nav-user">
                <a href="/help">Help</a> 
                <a href="/login">Login</a>                
            </div>
        {% endif %}
        <div class="clear_both"></div>
        <div class="row e-nav">
           <div class="span3">
               <a href="/" id="logo"><img src="/media/img/mountains.png" /></a><h2>Emapix</h2>
           </div>
           <div class="span6">
               <ul class="nav nav-pills pull-left">
                <li id="nav_requests"><a href="/requests"><b>Requests</b></a></li>
                <li id="nav_photos"><a href="/photos"><b>Photos</b></a></li>
                <li id="nav_users"><a href="/users"><b>Users</b></a></li>
               </ul>
               <form class="pull-left" action="">
                <input type="text" class="search-query span2" placeholder="City, Zip code ...">
               </form>
           </div>
           <div class="span3">
               <a href="/request/make" class="btn btn-success"><b>Make Request</b></a>
           </div>
        </div>
        {% if not username %}
        <button class="btn-large btn-success" id="join" onClick="location.href='/join'"><b>Join Emapix</b></button>
        <div class="clear_both"></div>
        {% endif %}
        
        {% block content %}{% endblock content %}

        <div class="clear_both"></div>
        <div class="footer">
            <a href="/help">Help</a>
            <a href="">About</a>
            <a href="">Forum</a>
            <a href="">Feedback</a>
            <a href="">Developer</a>
            <a href="">Privacy</a>
            <a href="">Terms of Service</a>
            Emapix &copy; 2012
        </div>
    </div>
    {% block footer %}{% endblock footer %}
</body>
</html>