{% extends "profile_base.html" %}

{% block header %}
    
<script type="text/javascript">
    $(document).ready(function(){
        $("#profile_general").attr({"class": "active"});
    })        
</script>

{% endblock header %}

{% block profile_content %}

<form class="form-horizontal" action="/layout/confirm" id="edit_profile">
    <fieldset>    
      <div class="control-group">
        <label class="control-label">Username</label>
        <div class="controls">
            <div style="font-size: 15px; font-weight: bold; padding-top: 5px; float:left;">dexity</div>
            <span class="help-inline e-color-grey e-padding-top-5" style="margin-left: 20px">(Cannot be changed)</span>
        </div>
      </div>
          <div class="control-group">
            <label class="control-label" for="input01">First Name</label>
            <div class="controls">
              <input type="text" class="input-large" id="input01">
            </div>
          </div>
      <div class="control-group">
        <label class="control-label" for="input02">Last Name</label>
        <div class="controls">
          <input type="text" class="input-large" id="input02">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input03">Email</label>
        <div class="controls">
          <input type="text" class="input-large" id="input03">
              <label class="checkbox inline e-checkbox">
                <input type="checkbox" id="optionsCheckbox" value="option1"> Show
              </label>
              <span class="help-inline e-color-grey">(Required)</span>
        </div>
      </div>
          <div class="control-group">
            <label class="control-label" for="input04">Location</label>
            <div class="controls">
              <input type="text" class="input-large" id="input04" placeholder="City, State">
              <select id="select01" class="input-medium">
                <option>United States</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>        
          <label class="checkbox inline e-checkbox">
            <input type="checkbox" id="optionsCheckbox" value="option1"> Show
          </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input05">Birthday</label>
            <div class="controls">
              <select id="select02" class="input-small">
                <option>Month</option>
                <option>January</option>
              </select>        
              <select id="select03" class="input-mini">
                <option>Day</option>
                <option>1</option>
              </select>        
              <select id="select04" class="input-mini">
                <option>Year</option>
                <option>2012</option>
              </select>
              <label class="checkbox inline e-checkbox">
                <input type="checkbox" id="optionsCheckbox" value="option1"> Show
              </label>
              <span class="help-inline e-color-grey">(<abbr title="Used to verify age and hidden by default">Year Required</abbr>)</span>          
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inlineRadio">Gender</label>
            <div class="controls">
                <label class="radio inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Male
                </label>        
                <label class="radio inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    Female
                </label>        
                <label class="radio inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                    Rather not say
                </label>        
            </div>
          </div>
      <div class="control-group">
        <label class="control-label" for="textarea">About Yourself</label>
        <div class="controls">
          <textarea class="input-xlarge" id="textarea" rows="3"  placeholder="Tell something about yourself"></textarea>
        </div>
      </div>
      <div class="form-actions">
        
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a class="btn" href="/profile">Cancel</a>
      </div>
    </fieldset>
</form>

{% endblock profile_content %}
