{% extends "profile_base.html" %}

{% block profile_content %}

<form class="form-horizontal" action="{% url "edit_profile" %}" id="edit_profile" method="post">
{% include "forms/edit_profile_form.html" %}
</form>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#profile_general").attr({"class": "active"});
        fadeOutErrors();
        b_month_change("{{form.b_month.value}}", "{{form.b_day.value}}");
    })        
</script>
{% endblock %}