{% extends "profile_base.html" %}

{% block header %}
    
<style type="text/css">
.form-username {
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    float:left;
}
</style>

{% endblock %}

{% block profile_content %}

<form class="form-horizontal" action="/profile/edit" id="edit_profile">
{% include "forms/edit_profile_form.html" %}
</form>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#profile_general").attr({"class": "active"});
        fadeOutErrors();
        b_month_change("{{form.b_month.value}}", "{{form.b_day.value}}");
    })        
</script>
{% endblock %}