{% extends "base.html" %}

{% block content %}

<h3>Help</h3>
<br />
<div class="row">
    <div class="col-md-8">
		<h4>Title</h4>
		Input groups—with appended or prepended text—provide an easy way to give more context for your inputs. Great examples include the @ sign for Twitter usernames or $ for finances.
		<br /><br />
		<h4>Title 2</h4>
		Bootstrap's forms include styles for all the base form controls like input, textarea, and select you'd expect. But it also comes with a number of custom components like appended and prepended inputs and support for lists of checkboxes.
    </div>
</div>

{% endblock content %}