{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3"><h4>Join Emapix</h4></div>
    <div class="col-sm-9">
        <div class="e-alert-head">It's <b>easy</b> and <b>free</b>.</div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <form class="form-horizontal" action="{% url "join" %}" method="post" >
        {% include "forms/join_form.html" %}
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function(){
        fadeOutErrors();
        b_month_change("{{form.b_month.value}}", "{{form.b_day.value}}");
    });
</script>
{% endblock %}
