{% extends "base.html" %}

{% block content %}
<div class="pull-left"><h3>Join Emapix</h3></div>
<div class="e-alert-head alert-success pull-left">It's <b>easy</b> and <b>free</b>.</div>
<div class="clear_both"></div>

<div class="span10">
    {% include "forms/join_form.html" %}
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function(){
        fadeOutErrors();
        
        $("select[id='{{ form.b_month.auto_id }}']").change(function(){
            days    = '<option value="" selected="selected">Day</option>';
            if (this.value in month_days) {
                for (var i = 1; i< month_days[this.value]+1; i++) {
                    days    += '<option value="' + i + '">' + i + '</option>'
                }
            }
            $("select[id='{{ form.b_day.auto_id }}']").html(days);
        });
    });
</script>
{% endblock %}
