{% extends "base.html" %}

{% block content %}
<div class="pull-left"><h3>Join Emapix</h3></div>
<div class="e-alert-head alert-success pull-left">It's <b>easy</b> and <b>free</b>.</div>
<div class="clear_both"></div>

<div class="span10">
<form class="form-horizontal" action="/join" method="post" >
{% include "forms/join_form.html" %}
</form>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function(){
        fadeOutErrors();
        
        $("select[name={{form.b_month.name}}]").change(function(){
            var days    = '<option value="" selected="selected">Day</option>';
            if (this.value in month_days) {
                for (var i = 1; i< month_days[this.value]+1; i++) {
                    days    += '<option value="' + i + '">' + i + '</option>'
                }
            }
            $("select[name={{form.b_day.name}}]").html(days);
            $("select[name={{form.b_day.name}}]").val("{{form.b_day.value}}");
        });
        $("select[name={{form.b_month.name}}]").val("{{form.b_month.value}}").change();
    });
</script>
{% endblock %}
