{% extends "base.html" %}

{% block header %}
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA85oDjeGmemRXYK5MfKfCM3RKVadnrHDk&sensor=false">
</script>
<script type="text/javascript" src="/media/js/emapix_map.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
	initialize();
    });
</script>

{% endblock header %}

{% block content %}

<style type="text/css">
  #map_canvas { width:620px; height:400px; }
</style>

<div class="pull-left"><h3>Make Request</h3></div>
<div class="e-alert-head pull-left">Click on the map and submit request</div>
<div class="clear_both"></div>
<label class="checkbox">
    <input type="checkbox" id="show_requests"> Show my requests
</label>
<div class="row">
    <div class="span8">
        <div id="map_canvas"></div>
    </div>
</div>

<!-- Modals -->
<div id="remove_modal" class="modal hide fade">
    <div class="modal-header"><h3>Delete Request</h3></div>
    <div class="modal-body">
        <div id="body_errors"></div>
        Are you sure you want to delete the request?
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-danger" id="delete_btn">Delete</a>
      <a href="#" class="btn" data-dismiss="modal" >Close</a>
    </div>
</div>

{% endblock content %}