{% extends "base.html" %}

{% block header %}
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA85oDjeGmemRXYK5MfKfCM3RKVadnrHDk&sensor=false">
</script>
<script type="text/javascript" src="/media/js/modal.js"></script>
<script type="text/javascript" src="/media/js/emapix_map.js"></script>

{% endblock header %}

{% block content %}

<style type="text/css">
  #map_canvas { width:620px; height:400px; }
</style>

<div class="pull-left"><h3>Make Request</h3></div>
<div class="e-alert-head pull-left">Long click on the map and submit request</div>
<div class="clear_both"></div>
<label class="checkbox">
    <input type="checkbox" id="show_requests"> Show my requests
</label>
<div class="row">
    <div class="span8">
        <div id="map_canvas"></div>
    </div>
</div>

<div id="modal_container"></div>

{% endblock content %}