{% extends "base.html" %}

{% block header %}
<script type="text/javascript">
    $(document).ready(function(){
        $("input").focus(function(){
            $(".alert-error").fadeOut(1000);
        });
    });
</script>
{% endblock header %}

{% block content %}

<div class="pull-left"><h3>Renew Password</h3></div>
<div class="e-alert-head pull-left">Create your new password</div>
<div class="clear_both"></div>
<div class="span10">
<form class="form-horizontal" action="/password/renew/{{token}}" method="post" >
{% include "forms/newpass_form.html" %}
</form>
</div>

{% endblock content %}