{% extends "base.html" %}

{% block header %}
<script type="text/javascript">
    $(document).ready(function(){
        $("input").focus(function(){
            $(".alert-error").fadeOut(1000);
        });
    });
</script>
{% endblock header %}

{% block content %}
<div class="row">
    <div class="col-sm-4"><h4>Renew Password</h4></div>
    <div class="col-sm-8">
        <div class="e-alert-head">Create your new password.</div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <form class="form-horizontal" action="{% url "renew_password" token %}" method="post" >
        {% include "forms/newpass_form.html" %}
        </form>
    </div>
</div>
{% endblock content %}