{% extends "base.html" %}

{% block header %}
<script type="text/javascript">
    $(document).ready(function(){
        $("input").focus(function(){
            $(".alert-error").fadeOut(1000);
        });
    });
</script>
{% endblock header %}

{% block content %}

<div class="pull-left"><h3>Renew Password</h3></div>
<div class="e-alert-head pull-left">Create your new password</div>
<div class="clear_both"></div>
<div class="span10">
<form class="form-horizontal" action="/password/renew/{{token}}" method="post" >
    {% csrf_token %}
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="{{ form.email.auto_id }}"><b>New Password</b></label>
        <div class="controls">
            {{ form.newpass }}
	    {% if form.newpass.errors %}
	    <div class="alert alert-error error_spaces" style="">
		<button class="close" data-dismiss="alert">×</button>
		{{ form.newpass.errors|first }}
	    </div>
	    {% endif %}            
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="{{ form.email.auto_id }}"><b>Repeat New Password</b></label>
        <div class="controls">
            {{ form.renewpass }}
	    {% if form.non_field_errors %}
	    <div class="alert alert-error error_spaces" style="">
		<button class="close" data-dismiss="alert">×</button>
		{{ form.non_field_errors|first }}
	    </div>
	    {% endif %}            
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Create New Password</button>
            <a class="btn" href="/">Cancel</a>
        </div>
      </div>
    </fieldset>
</form>
</div>

{% endblock content %}