{% extends "base.html" %}
{% load multifor %}

{% block content %}

<h3>Recent Photos</h3>
<div class="row e-photo-row">
{% for item in items; image in images %}
{% with item.request as req %}
    {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:"4" %}
</div>
<div class="row e-photo-row">
    {% endif %}
    <div class="col-md-2">
        <a href="{% url "request" req.resource %}" title="{{req.description|slice:":40"}}{% if req.description|length > 40 %}...{% endif %}">
            <img src="{{image.url}}"/>
        </a>
        {# {% if req.location.city %} #}
        {#    <a href="/requests/{{req.location.city}}" class="label label-success">{{req.location.city}}</a> #}
        {% if req.location.country %}
            <a href="#" class="label label-success">{{req.location.country}}</a>
        {% endif %}
    </div>
{% endwith %}
{% endfor %}
</div>
  
{% include "misc/pagination.html" %}

{% endblock content %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#nav_photos").attr("class", "active");
    });
</script>
{% endblock %}