{% extends "profile_base.html" %}

{% block header %}
    
<script type="text/javascript">
    $(document).ready(function(){
        $("#profile_photo").attr({"class": "active"});
    })        
</script>

{% endblock header %}

{% block profile_content %}
    <div class="control-group">
        <div class="control-label" style="margin-top: -5px"><img src="/media/img/user.png" /></div>
        <div class="controls">
            <div class="pull-left"><h4>Profile Photo</h4></div>
            <div class="e-alert pull-left" style="margin-top: -5px">Up to 5Mb in JPEG or PNG formats.</div>
            <input class="input-file" id="fileInput" type="file">
        </div>            
    </div>
{% endblock profile_content %}