{% extends "profile_base.html" %}

{% block header %}
    
<script type="text/javascript">
    $(document).ready(function(){
        $("#profile_general").attr({"class": "active"});
    })        
</script>

{% endblock header %}

{% block profile_content %}
<div class="row">
    <div class="span2 prof-left">Username</div>
    <div class="span6 prof-right">
        <div style="font-size: 15px; font-weight: bold;float:left;">dexity</div>
        <span class="help-inline e-color-grey" style="margin-left: 20px">(Cannot be changed)</span>
    </div>
</div>
<div class="row">
    <div class="span2 prof-left">Full Name</div>
    <div class="span6">
        Alexander Dementsov
    </div>
</div>
{% endblock profile_content %}