{% extends "profile_base.html" %}

{% block profile_content %}

<div class="e-alert-head pull-left">Password is safely encrypted and <b>never</b> stored as a plain text</div>
<div class="clearfix"></div>
<form class="form-horizontal" action="{% url "update_password" %}" method="post">
    {% include "forms/newpass_form.html" %}
</form>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#profile_password").attr({"class": "active"});
        fadeOutErrors();
    })        
</script>

{% endblock %}