{% extends "base.html" %}

{% block content %}

<h4 class="hidden-xs">Settings</h4>
<div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked hidden-xs">
            <li id="profile_general" ><a href="{% url "profile" %}">Profile</a></li>
            <li id="profile_photo" ><a href="{% url "profile_photo" %}">Profile Photo</a></li>
            <li id="profile_password" ><a href="{% url "update_password" %}">Password</a></li>
        </ul>
        <ul class="nav nav-pills visible-xs">
          <li class="dropdown">
            <a class="dropdown-toggle" id="profile_settings" data-toggle="dropdown" href="#">
              <b>Settings</b> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li id="profile_general" ><a href="{% url "profile" %}">Profile</a></li>
                <li id="profile_photo" ><a href="{% url "profile_photo" %}">Profile Photo</a></li>
                <li id="profile_password" ><a href="{% url "update_password" %}">Password</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="col-sm-8">
        {% block profile_content %}{% endblock profile_content %}
    </div>
    <div class="col-sm-2"></div>
</div>

{% endblock content %}        
