{% extends "base.html" %}

{% block header %}
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

<script type="text/javascript">
    var RecaptchaOptions = {
        theme : 'custom',
        custom_theme_widget: 'recaptcha_widget'
    };
    $(document).ready(function(){
        fadeOutErrors();
    });
</script>   
{% endblock %}

{% block content %}
<div class="pull-left"><h3>Security Check</h3></div>
<div class="clearfix"></div>
<div class="e-margin-top-10"></div>

<form class="form-horizontal" action="/recaptcha" method="post">
{% include "forms/recaptcha_form.html" %}
</form>

{% endblock %}

