{% extends "base.html" %}

{% block header %}
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA85oDjeGmemRXYK5MfKfCM3RKVadnrHDk&sensor=false">
</script>

<script type="text/javascript">

    function show_select()
    {
        // Load select file modal page (doesn't handle file upload)
	$.ajax({
	    url:    "/submit/select/{{req.resource}}",
            type:   "GET",
            cache:  false,
            success:    function(data) {
                $("#submit_container").html(data);
                $("#submit_modal").modal({backdrop: "static"});
            },
            error:  function(jqXHR, textStatus, errorThrown) {
                $("#errors_container").html(format_error(jqXHR.responseText, errorThrown, true));
                $("#submit_modal").modal({backdrop: "static"});
            }
	});
    }

    function show_crop()
    {
        // Load crop image modal page (doesn't handle image crop)
        $.ajax({
            url:    "/submit/crop/{{req.resource}}",
            type:   "GET",
            cache:  false,
            success: function(data) {
                $(".modal-backdrop").remove();
                $("#submit_container").html(data);
                $("#submit_modal").modal({backdrop: "static"});
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $("#submit_body").html(format_error(jqXHR.responseText, errorThrown));
                $("#submit_modal").modal({backdrop: "static"});
            }
        });
    }
    
    function show_create()
    {
        // Loads create image modal page (doesn't handle images creation)
        $.ajax({
            url:    "/submit/create/{{req.resource}}",
            type:   "GET",
            cache:  false,
            success: function(data) {
                $(".modal-backdrop").remove();
                $("#submit_container").html(data);
                $("#submit_modal").modal({backdrop: "static"});
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $("#submit_body").html(format_error(jqXHR.responseText, errorThrown));
                $("#submit_modal").modal({backdrop: "static"});
            }
        });
    }    
    
    function submit_image_finished() {
	$("#submit_modal").modal("hide");
	// XXX: Make json request to replace image and metadata
	//	instead of reloading the page. Save requests to Google Map
	window.location.href = "/request/{{ req.resource }}";
    }
    
    function show_select_click(e) {
	e.preventDefault();
	show_select();
    }
    
    $(document).ready(function(){
	var lat	= "{{ req.location.lat }}";
	var lon	= "{{ req.location.lon }}";
	var location = new google.maps.LatLng(lat, lon);
	var myOptions = {
	    center: location,
	    zoom: 13,
            scrollwheel: false,
	    mapTypeId: google.maps.MapTypeId.ROADMAP,
	};
	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	marker	= new google.maps.Marker({
			position:  	new google.maps.LatLng(lat, lon),
			title:		"{{ req.description }}",
			map:		map
		    });
	//$("#remove_request").click(function(e){
	//	e.preventDefault();
	//	$("#body_errors").html("");
	//	$("#remove_modal").modal();
	//});
	
        // XXX: Show only if user is the owner
        // XXX: Refactor, see user.html
	// Set events
	$("#delete_btn").click(function() {
	    url = $("#remove_request").attr("href");
	    $.post(url,
		{"csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()},
		function(data) {
		    try
		    {
			var res	= $.parseJSON(data);    // OK
			if (res["status"] == "ok")
			{
			    $("#remove_modal").modal("hide");
			    // Go to requests list
			    window.location.href = "/requests"
			}
			else
			{
			    $("#body_errors").html("result");
			}
		    }
		    catch (e)
		    {
			$("#body_errors").html(data);
		    }
		});
	});
	
        $("#edit_request").click(function(e) {
            e.preventDefault();
            $("#edit_modal").modal();
        });
        $("#remove_photo").click(function(e) {
            e.preventDefault();
            $("#remove_photo_modal").modal();
        });
        $("#remove_request").click(function(e) {
            e.preventDefault();
            $("#remove_modal").modal();
        });        
        
	$("#submit_photo").click(function(e) {
	    e.preventDefault();
	    show_select();
	});
	
	//$("#diff_file").click(function(e){
	//    e.preventDefault();
	//    show_select();
	//});
	
    });
</script>

{% endblock header %}

{% block content %}

<style type="text/css">
  #map_canvas { width:460px; height:460px; }
</style>

<div class="row">
    <div class="span3"><h3>Request</h3>
    </div>
    <div class="span3">
        <div class="e-status-open pull-right">Open</div>
    </div>
</div>
<div class="clear_both"></div>
<div class="row">
    <div class="span6">
	{% if pic_url %}
	<img src="{{pic_url}}" />
        {% else %}
        <button class="btn btn-success" id="submit_photo"><b>Submit Photo</b></button>
	{% endif %}
        <div class="full-description" title="Description">{{ req.description }}</div>
	<div class="row">
	    <div class="span2">Approximate Address:</div>
	    {% include "misc/address.html" %}
	</div>
        <div class="e-request-info">
	    <div class="row">
		<div class="span2">Location:</div>
		<div>{{ req.location.lat }}, {{ req.location.lon }}</div>
	    </div>
	    <div class="row">
		<div class="span2">Requested:</div>
		<a href="/user/{{ req.user.username }}">{{ req.user.username }}</a>
                <div class="e-time" title="{{ utcdate }}">{{ hdate }}</div>
	    </div>
	    <div class="row">
		<div class="span2">Submitted:</div>
		<a href="/user/dexity">dexity</a>
                <div class="e-time" title="2012-10-09 06:44:16Z">Oct 09, 2012 06:44</div>
	    </div>
        </div>
        {% if pic_url or user.username == req.user.username %}
        <div class="row e-control-options">
            <div class="span3 pull-left">
                <a href="#" id="edit_request">Edit Request</a><br />
                {% if pic_url %}
		<a href="#" id="submit_photo">Submit Different Photo</a><br />
                {% endif %}
                <a href="#">Close Request</a> <img src="/media/img/spinner_small.gif" id="close_spinner" style="display: none" class="e-spinner"/><br />
            </div>
	    {% csrf_token %}
            <div class="span3 pull-right">
		{% if user.username == req.user.username %}
                <a href="#" class="red" id="remove_photo">Remove Photo</a><br />
                <a href="/request/{{ req.resource }}/remove" class="red" id="remove_request">Remove Request</a><br />
		{% endif %}
            </div>
        </div>
        {% endif %}
        <div class="e-request-info">
            <div class="section-title">Comments <span class="badge badge-success e-section-badge">23</span></div>
            <hr />
            <div class="full-description e-comment-first clearfix">
                <div>Here's a slightly more complex example using Paginator in a
                view to paginate a queryset. We give both the view and the
                accompanying template to show how you can display the results. </div>
                <div class="pull-right">
                    <div class="e-request-time" title="2012-10-09 06:44:16Z">Oct 09, 2012 06:44</div>
                    <div class="pull-right"><a href="/user/dexity">dexity</a></div>
                </div>
            </div>
            <div class="full-description e-comment-item clearfix">
                <div>Making some comments about this place ...</div>
                <div class="pull-right">
                    <div class="e-request-time" title="2012-10-09 06:44:16Z">Oct 09, 2012 06:44</div>
                    <div class="pull-right"><a href="/user/dexity">dexity</a></div>
                </div>
            </div>
            <textarea rows="2" placeholder="Write a comment" class="span6"></textarea>
            <div class="e-alert e-alert-inline alert-error pull-left" style="display: none">Error messages Making some comments about this place</div>
            <button class="btn btn-primary pull-right">Submit Comment</button>
            <img src="/media/img/spinner_small.gif" id="comment_spinner" style="display: none" class="e-button-spinner pull-right"/>
        </div>
    </div>    
    <div class="span6"><div id="map_canvas"></div></div>
</div>

<!-- Modals -->
<!-- Submit photo modal -->
<div id="submit_container">
    <div id="submit_modal" class="submit_modal modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Submit Photo</h3>
        </div>
        <div class="modal-body" id="submit_body">
            <div class="e-alert alert-success pull-left" style="margin: 0px;">Photo can be up to 5Mb and in JPEG or PNG formats.</div>      
        </div>
        <div class="modal-footer">
            <div class="e-alert e-alert-inline alert-error pull-left" id="errors_container"></div>
            <div class="btn btn-primary disabled" disabled="disabled">Select File</div>
            <a href="#" data-dismiss="modal">Close</a>
        </div>
    </div>
</div>

<!-- Edit request modal -->
<div id="edit_modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Edit Request</h3>
    </div>
    <div class="modal-body">
        {{edit_form.description}}
    </div>
    <div class="modal-footer">
        <div class="e-alert e-alert-inline alert-error pull-left" style="display: none">Error messages Making some comments about this place</div>
        <img src="/media/img/spinner_small.gif" id="edit_spinner" style="display: none" class="e-button-spinner"/>
        <button class="btn btn-primary">Save Changes</button>
        <a href="#" data-dismiss="modal">Cancel</a>
    </div>
</div>

<!-- Remove photo modal -->
<div id="remove_photo_modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Remove Photo</h3>
    </div>
    <div class="modal-body">
        <div class="alert">Are you sure you want to remove the photo?</div>
    </div>
    <div class="modal-footer">
        <div class="e-alert e-alert-inline alert-error pull-left" style="display: none">Error messages Making some comments about this place</div>
        <img src="/media/img/spinner_small.gif" id="remove_photo_spinner" style="display: none" class="e-button-spinner"/>
        <button class="btn btn-primary">Remove Photo</button>
        <a href="#" data-dismiss="modal">Cancel</a>
    </div>
</div>

<!-- Remove request modal -->
{% include "modals/delete_request.html" %}

{% endblock content %}