{% extends "base.html" %}

{% block header %}

<script type="text/javascript">
   
    $(document).ready(function(){
	{% if req %}
	var lat	= {{ req.location.lat }};
	var lon	= {{ req.location.lon }};
	var location = new google.maps.LatLng(lat, lon);
	var myOptions = {
	    center: location,
	    zoom: 13,
	    mapTypeId: google.maps.MapTypeId.ROADMAP,
	};
	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	marker	= new google.maps.Marker({
			position:  	new google.maps.LatLng(lat, lon),
			title:		"{{ req.description }}",
			map:		map
		    });		
	{% endif %}
    });
</script>

{% endblock header %}

{% block content %}

{% if req %}
<style type="text/css">
  #map_canvas { width:460px; height:460px; }
</style>

<div class="pull-left"><h3>Request</h3></div>
<div class="e-alert pull-left">You can submit photo for this location</div>
<div class="clear_both"></div>
<div class="row">
    <div class="span6">
	{% if username|stringformat:"s" == req.user.username %}
        <a class="btn btn-success" href="/submit/{{ req.resource }}"><b>Submit Photo</b></a>
	{% endif %}
        <div class="full-description" title="Description">{{ req.description }}</div>
	<div class="row">
	    <div class="span2">Approximate Address:</div>
	    {% include "misc/address.html" %}
	</div>
        <div class="e-request-info">
	    <div class="row">
		<div class="span2">Location:</div>
		<div>{{ req.location.lat }}, {{ req.location.lon }}</div>
	    </div>
	    <div class="row">
		<div class="span2">Requested by:</div>
		<a href="/user/{{ req.user.username }}">{{ req.user.username }}</a>
	    </div>
            <div class="row">
                <div class="span2">Date:</div>
                <div class="e-time" title="{{ utcdate }}">{{ hdate }}</div>
            </div>
        </div>
        <div class="row e-control-options">
            <div class="span3 pull-left"></div>
            <div class="span3 pull-right">
		{% if username|stringformat:"s" == req.user.username %}
                <a href="" class="red e-red-option" >Remove Request</a>
		{% endif %}
            </div>            
        </div>
	<hr />
        <div class="e-request-info">
	    <div class="row">
		<div class="span2">Status:</div>
		<span class="label label-success">Accepted</span>
	    </div>
	    <div class="row">
		<div class="span2">Accepted by:</div>
		<a href="/user/dexity">dexity</a>
	    </div>
            <div class="row">
                <div class="span2">Date:</div>
                <div class="e-time" title="">Aug 21, 2012 14:05</div>
            </div>    
	</div>
	<div class="full-description" title="Description">Here I'll leave my comment</div>
    </div>    
    <div class="span6"><div id="map_canvas"></div></div>
</div>
{% else %}
    <div class="row" id="message" onclick="fadeToMain()">
        <div class="span8 alert alert-error">
            Request is not found
            <br/>
        </div>
    </div>   
{% endif %}

{% endblock content %}