{% extends "base.html" %}

{% block header %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#nav_requests").attr("class", "active");
    });
</script>
{% endblock header %}

{% load get_range %}

{% block content %}

<h3>Recent Requests</h3>

<div id="e-requests-list">
    
{% for req, ht in items %}
    {% if req != items|slice:":1"|first|first %}
        <div class="e-request-item span8">
    {% else %}
        <div class="e-request-item e-first-item span8">
    {% endif %}
        <a href="/request/{{req.resource}}"><img src="{{thumb_url}}"/></a>
        <div>
            <div class="e-request-description" title="{{ req.description }}">
                <a href="/request/{{req.resource}}">
                    {{ req.description|slice:":60" }}{% if req.description|length > 60 %}...{% endif %}
                </a>
            </div>
            <div>
                <div title="latitude={{ req.location.lat }}, longitude={{ req.location.lon }}" class="pull-left">
                    {% include "misc/address.html" %}
                </div>
                <div class="pull-right">
                    <div class="e-request-time" title="{{ ht.utc_time }}" >{{ ht.human_time }}</div>
                    <div class="pull-right"><a href="">{{req.user.username}}</a></div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}               
</div>
<div class="clear_both"></div>
{% include "misc/pagination.html" %}


{% endblock content %}
