{% extends "base.html" %}

{% block header %}
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA85oDjeGmemRXYK5MfKfCM3RKVadnrHDk&sensor=false">
</script>

<script type="text/javascript">

    function show_select()
    {
        // Load select file modal page (doesn't handle file upload)
	$.ajax({
	    url:    "/submit/select/{{ req.resource }}",
            type:   "GET",
            cache:  false,
            success:    function(data) {
                $("#submit_body").html(data);
            },
            error:  function(jqXHR, textStatus, errorThrown) {
                $("#submit_body").html(format_error(jqXHR.responseText, errorThrown));
            }
	});
    }

    function show_crop()
    {
        // Load crop image modal page (doesn't handle image crop)
        $.ajax({
            url:    "/submit/crop/{{ req.resource }}",
            type:   "GET",
            cache:  false,
            success: function(data) {
                $("#submit_body").html(data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $("#submit_body").html(format_error(jqXHR.responseText, errorThrown));
            }
        });
    }
    
    function show_create()
    {
        // Loads create image modal page (doesn't handle images creation)
        $.ajax({
            url:    "/submit/create/{{ req.resource }}",
            type:   "GET",
            cache:  false,
            success: function(data) {
                $("#submit_body").html(data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                 $("#submit_body").html(format_error(jqXHR.responseText, errorThrown));
            }
        });
    }    
    
    function submit_image_finished() {
	$("#submit_modal").modal("hide");
	// XXX: Make json request to replace image and metadata
	//	instead of reloading the page. Save requests to Google Map
	window.location.href = "/request/{{ req.resource }}";
    }
    
    function show_select_click(e) {
	e.preventDefault();
	show_select();
    }
    
    $(document).ready(function(){
	var lat	= {{ req.location.lat }};
	var lon	= {{ req.location.lon }};
	var location = new google.maps.LatLng(lat, lon);
	var myOptions = {
	    center: location,
	    zoom: 13,
	    mapTypeId: google.maps.MapTypeId.ROADMAP,
	};
	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	marker	= new google.maps.Marker({
			position:  	new google.maps.LatLng(lat, lon),
			title:		"{{ req.description }}",
			map:		map
		    });
	$("#remove_link").click(function(e){
		e.preventDefault();
		$("#body_errors").html("");
		$("#remove_modal").modal();
	    });
	
	// Set events
	$("#delete_btn").click(function() {
	    url = $("#remove_link").attr("href");
	    $.post(url,
		{"csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()},
		function(data) {
		    try
		    {
			var res	= $.parseJSON(data);    // OK
			if (res["status"] == "ok")
			{
			    $("#remove_modal").modal("hide");
			    // Go to requests list
			    window.location.href = "/requests"
			}
			else
			{
			    $("#body_errors").html("result");
			}
		    }
		    catch (e)
		    {
			$("#body_errors").html(data);
		    }
		});
	});
	
	$("#submit_photo").click(function(e) {
	    e.preventDefault();
	    show_select();
	    $("#submit_modal").modal();
	});
	
	//$("#diff_file").click(function(e){
	//    e.preventDefault();
	//    show_select();
	//});
	
    });
</script>

{% endblock header %}

{% block content %}

<style type="text/css">
  #map_canvas { width:460px; height:460px; }
</style>

<div class="pull-left"><h3>Request</h3></div>
<div class="e-alert alert-success pull-left">You can submit photo for this location</div>
<div class="clear_both"></div>
<div class="row">
    <div class="span6">
	{% if pic_url %}
	<img src="{{pic_url}}" />
        {% else %}
        <button class="btn btn-success" id="submit_photo"><b>Submit Photo</b></button>        
	{% endif %}
        <div class="full-description" title="Description">{{ req.description }}</div>
	<div class="row">
	    <div class="span2">Approximate Address:</div>
	    {% include "misc/address.html" %}
	</div>
        <div class="e-request-info">
	    <div class="row">
		<div class="span2">Location:</div>
		<div>{{ req.location.lat }}, {{ req.location.lon }}</div>
	    </div>
	    <div class="row">
		<div class="span2">Requested by:</div>
		<a href="/user/{{ req.user.username }}">{{ req.user.username }}</a>
	    </div>
            <div class="row">
                <div class="span2">Date:</div>
                <div class="e-time" title="{{ utcdate }}">{{ hdate }}</div>
            </div>
        </div>
        <div class="row e-control-options">
            <div class="span3 pull-left">
		<a href="#" id="submit_photo">Submit different photo</a>
		<!--<a href="/submit/select/{{ req.resource }}">Submit different photo</a>-->
	    </div>
	    {% csrf_token %}
            <div class="span3 pull-right">
		
		{% if user.username == req.user.username %}
                <a href="/request/{{ req.resource }}/remove" class="red pull-right" id="remove_link">Remove Request</a>
		{% endif %}
            </div>
	    <div id="remove_modal" class="modal hide fade">
		<div class="modal-header"><h3>Delete Request</h3></div>
		<div class="modal-body">
		    <div id="body_errors"></div>
		    Are you sure you want to delete the request?
		</div>
		<div class="modal-footer">
		  <a href="#" class="btn btn-danger" id="delete_btn">Delete</a>
		  <a href="#" class="btn" data-dismiss="modal" >Close</a>
		</div>
	    </div>	    
        </div>
	<hr />
	<!-- XXX: Finish -->
        <div class="e-request-info">
	    <div class="row">
		<div class="span2">Status:</div>
		<span class="label label-success">Accepted</span>
	    </div>
	    <div class="row">
		<div class="span2">Accepted by:</div>
		<a href="/user/dexity">dexity</a>
	    </div>
            <div class="row">
                <div class="span2">Date:</div>
                <div class="e-time" title="">Aug 21, 2012 14:05</div>
            </div>    
	</div>
	<div class="full-description" title="Description">Here I'll leave my comment</div>
    </div>    
    <div class="span6"><div id="map_canvas"></div></div>
</div>

<!-- Modal -->
<div id="submit_modal" class="modal hide fade">
    <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Submit Photo</h3>
    </div>
    <div class="modal-body" id="submit_body"></div>
</div>


{% endblock content %}