{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
    <h4>Recent Requests</h4>
    {% for item in req_items %}
        {% with req=item.request %}
            {% include "includes/request_item.html" %}
        {% endwith %}
    {% endfor %}
    </div>
</div>
{% include "misc/pagination.html" %}

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#nav_requests").attr("class", "active");
    });
</script>
{% endblock %}
