{% extends "base.html" %}

{% block content %}

<style type="text/css">
  #map_canvas { width:460px; height:460px; }
</style>

<h3>Completed Request</h3>
<div class="row">
    <div class="span6">
        <img src="/media/img/photo_large.png" class="e-photo-large" />
        <div class="full-description">Planning to hike in this place ... In my own projects I'd like to use the same type of toolbar that the Delphi XE2 IDE uses for the Project Manager: with icons and the option to show a caption for each icon.</div>
        <div class="row">
            <div class="span2">Location:</div>
            <div>32.798580,-117.263261</div>
        </div>
        <div class="e-request-info">
            <div class="row">
                <div class="span2">Requested by:</div>
                <div><a href="">dexity</a></div>
            </div>
            <div class="row">
                <div class="span2">Date:</div>
                <div class="e-time">May 18 2012 5:13pm</div>
            </div>
        </div>
        <div class="e-request-info">
            <div class="row">
                <div class="span2">Submitted by:</div>
                <div><a href="">lunatix</a></div>
            </div>
            <div class="row">
                <div class="span2">Date:</div>
                <div class="e-time">May 30 2012 4:13pm</div>
            </div>
        </div>
        <div class="row e-control-options">
            <div class="span3 pull-left">
                <a href="" >Submit different photo</a>
            </div>
            <div class="span3 pull-right">
                <a href="" class="red e-red-option" >Remove Photo</a><br />
                <a href="" class="red e-red-option" >Remove Request</a>
            </div>            
        </div>
    </div>    
    <div class="span6"><div id="map_canvas"></div></div>
</div>

{% endblock content %}