{% extends "base.html" %}

{% block content %}

<div class="pull-left"><h3>Resend Activation</h3></div>
<div class="e-alert-head pull-left">If you haven't received the activation link for some reason,
please try again.</div>
<div class="clearfix"></div>
<div class="col-md-10">

<form class="form-horizontal" action="/verify/resend" method="post" >
{% include "forms/resend_form.html" %}
</form>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function(){
        fadeOutErrors();
    });
</script>
{% endblock %}