
<link rel="stylesheet" href="/media/fileuploader/css/jquery.fileupload-ui.css">

<div id="submit_modal" class="submit_modal modal hide fade">
    <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Submit Photo</h3>
    </div>
    <div class="modal-body" id="submit_body">
        <div class="e-alert alert-success pull-left" style="margin: 0px;">Photo can be up to 5Mb and in JPEG or PNG formats.</div>     
    </div>
    <div class="modal-footer">
        <form id="fileupload">
            <div id="files_container"></div> 
            {% csrf_token %}
            <span class="btn btn-primary fileinput-button" id="select_file">
                <span>Select File</span>
                {{ form.file }}
            </span>
            <a href="#" data-dismiss="modal">Close</a>
        </form>
    </div>
</div>

<script id="template-content" type="text/x-tmpl">
{{ temp_up|safe }}
</script>

<!-- <script src="/media/fileuploader/js/vendor/jquery.ui.widget.js"></script>
<script src="/media/fileuploader/js/misc/tmpl.js"></script>
<script src="/media/fileuploader/js/misc/load-image.min.js"></script>
<script src="/media/fileuploader/js/misc/canvas-to-blob.min.js"></script>
<script src="/media/fileuploader/js/jquery.fileupload.js"></script>
<script src="/media/fileuploader/js/jquery.fileupload-fp.js"></script>
<script src="/media/fileuploader/js/jquery.fileupload-ui.js"></script>
<script src="/media/fileuploader/js/locale.js"></script>

<script type="text/javascript">

(function () {
    'use strict';
    
    // Initialize the jQuery file upload widget
    $('#fileupload').fileupload({
        autoUpload: true,
        uploadTemplateId: "template-content",
        downloadTemplateId: "template-content",
        filesContainer: $("#files_container"),
        add:    function(e, data) {
            
            var that    = $(this).data('fileupload'),
                options = that.options,
                files   = data.files;
            $(this).fileupload('process', data).done(function () {
                that._adjustMaxNumberOfFiles(-files.length);
                data.maxNumberOfFilesAdjusted = true;
                data.files.valid = data.isValidated = that._validate(files);
                data.context = that._renderUpload(files).data('data', data);
                
                options.filesContainer.html(data.context);  // Replace files container

                that._renderPreviews(files, data.context);
                that._forceReflow(data.context);
                that._transition(data.context).done(
                    function () {
                        if ((that._trigger('added', e, data) !== false) &&
                                (options.autoUpload || data.autoUpload) &&
                                data.autoUpload !== false && data.isValidated) {
                            data.submit();
                        }
                    }
                );
            });
        }
    })
    .bind("fileuploaddone", function(e, data){
        
        if (data.result[0].success) {
            show_crop();    // From request.html
        }
    })

    $('#fileupload').fileupload('option', {
        url: '/submit/select/{{resource}}',
        maxFileSize: 5000000,
        minFileSize: 100,
        acceptFileTypes: /(\.|\/)(jpe?g|png)$/i,    // .jpg and .png images are allowed
        process: [
            {
                action: 'load',
                fileTypes: /^image\/(jpeg|png)$/,
                maxFileSize: 10000000 // 20MB
            },
            {
                action: 'resize',
                maxWidth: 780,  // 920
                maxHeight: 780
            },
            {
                action: 'save'
            }
        ]
    });

})();
    
</script> -->


