
<div id="submit_modal" class="submit_modal modal hide fade">
    <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Submit Photo</h3>
    </div>
    <div class="modal-body" id="submit_body">
        <img src="{{img_src}}" />
        <form id="create_form">
            {% csrf_token %}
        </form>
        
    </div>
    <div class="modal-footer">
        <div id="errors_container" class="modal-error"></div>
        <div id="progress" style="display: none">
            <img src="/media/img/spinner_small.gif" class="e-button-spinner"/>
        </div>
        <button class="btn btn-primary" id="submit_image">Submit Image</button>
        <a href="#" id="select_file">Select different file</a>
        <a href="#" data-dismiss="modal">Close</a>
    </div>
</div>

