
<link rel="stylesheet" href="/media/jcrop/css/jquery.Jcrop.css" type="text/css" />
    
<div id="submit_modal" class="submit_modal modal hide fade">
    <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Submit Photo</h3>
    </div>
    <div class="modal-body" id="submit_body">
        <img src="{{img_src}}" id="cropbox" />
        <form id="cropper_form">
            {% csrf_token %}
            {{ crop_form }}
        </form>
        
        <div id="errors_container"></div>
        <div id="progress" style="display: none">
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100" style="width: 50%; margin-top: 20px;">
                <div class="bar" style="width:100%;"></div>
            </div>    
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" onclick="submit_crop()">Crop</button>
        <a href="#" onclick="show_select_click(event)">Select different file</a>
        <a href="#" data-dismiss="modal">Close</a>
    </div>
</div>

<script src="/media/jcrop/js/jquery.Jcrop.js"></script>

<script type="text/javascript">

var jcrop_api;
var MSIZE    = 460;

$("#cropbox").load(function(){
    set_cropper();
});


function submit_crop()
{
    $("#progress").show();
    $.ajax({
        url:    "/submit/crop/{{resource}}",
        type:   "POST",
        data:   $("#cropper_form").serialize(),
        cache:  false,
        success:    function(data) {
            show_create();  // From request.html
        },
        error:  function(jqXHR, textStatus, errorThrown) {
            $("#progress").hide();
            $("#errors_container").html(format_error(jqXHR.responseText, errorThrown));
        }
    }); 
}

function updateCoords(c)
{
    $('input[name=x]').val(c.x);
    $('input[name=y]').val(c.y);
    $('input[name=w]').val(c.w);
    $('input[name=h]').val(c.h);
}

function getAspectRatio(bounds) {
    return bounds[0] > MSIZE && bounds[1] > MSIZE ? 1 : undefined;
}
function getSelect(bounds) {
    var x2 = bounds[0] > MSIZE ? MSIZE : bounds[0],
        y2 = bounds[1] > MSIZE ? MSIZE : bounds[1];
    return [0, 0, x2, y2];
}
function getMinSize(bounds) {
    var w = bounds[0] > MSIZE ? MSIZE : bounds[0],
        h = bounds[1] > MSIZE ? MSIZE : bounds[1];
    return [w, h];
}
function getMaxSize(bounds) {
    var aspect  = getAspectRatio(bounds);
    if (aspect == 1) {
        var w = bounds[0] > MSIZE ? bounds[0] : MSIZE,
            h = bounds[1] > MSIZE ? bounds[1] : MSIZE;
        return [w, h];
    } else {
        return getMinSize(bounds);
    }
}

function set_cropper() {

    jcrop_api   = $.Jcrop('#cropbox');
    var bounds  = jcrop_api.getBounds();
    jcrop_api.setOptions({
        aspectRatio: getAspectRatio(bounds),
        setSelect:  getSelect(bounds),
        minSize:    getMinSize(bounds),
        maxSize:    getMaxSize(bounds),
        onSelect:   updateCoords
    });
}
</script>