{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="/media/jcrop/css/jquery.Jcrop.css" type="text/css" />
    
{% endblock header %}

{% block content %}

<div class="e-alert pull-left" style="margin-left: 0px; margin-bottom: 10px;">Please submit photo for this location!
Photo can be up to 5Mb and in JPEG or PNG formats.
</div>
<div class="clear_both"></div>
<img src="{{img_src}}" id="cropbox" />
{% if crop_form %}
<form id="cropper_form">
    {% csrf_token %}
    {{ crop_form }}
</form>

<div id="errors_container"></div>

<div style="margin-top: 20px;">
    <button class="btn btn-primary" onclick="submit_crop()">Crop</button>
    <a href="/submit/select/{{resource}}" onclick="select_file(event)" style="margin-left: 50px;">Select different file</a>
</div>
{% endif %}

{% endblock content %}

{% block footer %}
<script src="/media/jcrop/js/jquery.Jcrop.js"></script>

<script type="text/javascript">

var jcrop_api;
var MSIZE    = 460;

//$(document).ready(function(){
$(window).load(function(){
    set_cropper();
});

//function set_error(error)
//{
//    var s   = '<div class="alert alert-error">';
//    s   += '<a href="#" class="close" data-dismiss="alert">×</a>';
//    s   += '<span id="error_msg">' + error + '</span>';
//    s   += '</div>';
//
//    $("#errors_container").html(s);
//}

function submit_crop()
{
    $.post("/submit/crop/{{resource}}",
        $("#cropper_form").serialize(),
        function(data){
            if (data.error)
                set_error(data.error);
            else if (data.resource)
                window.location.href="/submit/create/" + data.resource;
            else
                set_error("Something wrong happend");
        });    
}

function updateCoords(c)
{
    $('input[name=x]').val(c.x);
    $('input[name=y]').val(c.y);
    $('input[name=w]').val(c.w);
    $('input[name=h]').val(c.h);
}

function getAspectRatio(bounds) {
    return bounds[0] > MSIZE && bounds[1] > MSIZE ? 1 : undefined;
}
function getSelect(bounds) {
    var x2 = bounds[0] > MSIZE ? MSIZE : bounds[0],
        y2 = bounds[1] > MSIZE ? MSIZE : bounds[1];
    return [0, 0, x2, y2];
}
function getMinSize(bounds) {
    var w = bounds[0] > MSIZE ? MSIZE : bounds[0],
        h = bounds[1] > MSIZE ? MSIZE : bounds[1];
    return [w, h];
}
function getMaxSize(bounds) {
    var aspect  = getAspectRatio(bounds);
    if (aspect == 1) {
        var w = bounds[0] > MSIZE ? bounds[0] : MSIZE,
            h = bounds[1] > MSIZE ? bounds[1] : MSIZE;
        return [w, h];
    } else {
        return getMinSize(bounds);
    }
    
}

function set_cropper() {

    jcrop_api   = $.Jcrop('#cropbox');
    var bounds  = jcrop_api.getBounds();
    jcrop_api.setOptions({
        aspectRatio: getAspectRatio(bounds),
        setSelect:  getSelect(bounds),
        minSize:    getMinSize(bounds),
        maxSize:    getMaxSize(bounds),
        onSelect:   updateCoords
    });
}
</script>

{% endblock footer %}