{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="/media/fileuploader/css/jquery.fileupload-ui.css">
<link rel="stylesheet" href="/media/jcrop/css/jquery.Jcrop.css" type="text/css" />
    
{% endblock header %}

{% block content %}
<div id="body_errors"></div>
<div class="e-alert pull-left" style="margin-left: 0px; margin-bottom: 10px;">Please submit photo for this location!
Photo can be up to 5Mb and in JPEG or PNG formats.
</div>
<div class="clear_both"></div>
<form id="fileupload" action="/submit2" method="POST">
    {% csrf_token %}
    <span class="btn btn-primary fileinput-button">
        <span>Select File</span>
        <input type="file" name="files[]">
    </span>
    <!--{{ form.files }}-->
    <table role="presentation" class="table table-striped">
        <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>
</form>

<div class="clear_both"></div>
<script id="template-upload" type="text/x-tmpl">
{{ temp_up|safe }}
</script>
<script id="template-download" type="text/x-tmpl">
{{ temp_dn|safe }}
</script>

<!--<img src="http://localhost/media/temp/pic.png" id="cropbox">-->

<div class="clear_both"></div>
{% if crop_form %}
<form id="fileupload" action="/submit2" method="POST">
    {% csrf_token %}
    {{ crop_form }}
    <button type="submit" class="btn btn-primary">Crop</button>
</form>
{% endif %}

{% endblock content %}

{% block footer %}
<script src="/media/fileuploader/js/vendor/jquery.ui.widget.js"></script>
<script src="/media/fileuploader/js/misc/tmpl.js"></script>
<script src="/media/fileuploader/js/misc/load-image.min.js"></script>
<script src="/media/fileuploader/js/misc/canvas-to-blob.min.js"></script>
<script src="/media/fileuploader/js/misc/jquery.iframe-transport.js"></script>
<script src="/media/fileuploader/js/jquery.fileupload.js"></script>
<script src="/media/fileuploader/js/jquery.fileupload-fp.js"></script>
<script src="/media/fileuploader/js/jquery.fileupload-ui.js"></script>
<script src="/media/fileuploader/js/locale.js"></script>

<script src="/media/jcrop/js/jquery.Jcrop.js"></script>


<script type="text/javascript">

function updateCoords(c)
{
    $('input[name=x]').val(c.x);
    $('input[name=y]').val(c.y);
    $('input[name=w]').val(c.w);
    $('input[name=h]').val(c.h);
}


function set_cropper() {
    $('#cropbox').Jcrop({
        aspectRatio: 1,
        onSelect: updateCoords
    });
    var img_src = $('#cropbox').attr("src");
    $("input[name=img_src]").val(img_src);
}

$(function () {
    'use strict';

    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
        autoUpload: true
        // XXX: Set so that only 1 file can be displayed for upload
    })
    .bind('fileuploaddone', function (e, data) {
        setTimeout(set_cropper, 100);
    });

    if (window.location.hostname === 'localhost') {
        // Demo settings:
        $('#fileupload').fileupload('option', {
            url: '/submit2',
            maxFileSize: 5000000,
            acceptFileTypes: /(\.|\/)(jpe?g|png)$/i,
            process: [
                {
                    action: 'load',
                    fileTypes: /^image\/(jpeg|png)$/,
                    maxFileSize: 20000000 // 20MB
                },
                {
                    action: 'resize',
                    maxWidth: 920,
                    maxHeight: 920
                },
                {
                    action: 'save'
                }
            ]
        });
    } else {
        // Load existing files:
        $('#fileupload').each(function () {
            var that = this;
            $.getJSON(this.action, function (result) {
                if (result && result.length) {
                    $(that).fileupload('option', 'done')
                        .call(that, null, {result: result});
                }
            });
        });
    }

});
    
</script>

<!--[if gte IE 8]><script src="/media/fileuploader/js/cors/jquery.xdr-transport.js"></script><![endif]-->


{% endblock footer %}
