<div id="submit_modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Submit Photo</h3>
    </div>
    <div class="modal-body">
        <div id="body_errors"></div>
        <div class="e-alert pull-left">Photo can be up to 5Mb and in JPEG or PNG formats.</div>
        <div class="clear_both"></div>
        <img src="/media/img/photo_large.png" width="300" height="300" />
        <div class="clear_both e-margin-bottom-10"></div>
        <button class="btn btn-success"><b>Trim Photo</b></button>
    </div>
</div>