
<img src="{{img_src}}" />
<form id="create_form">
    {% csrf_token %}
</form>

<div id="errors_container"></div>
<div id="progress" style="display: none">
    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100" style="width: 50%; margin-top: 20px;">
        <div class="bar" style="width:100%;"></div>
    </div>    
</div>
<div style="margin-top: 20px;">
    <button class="btn btn-primary" id="submit_image">Submit Image</button>
    <a href="#" onclick="show_select_click(event)" style="margin-left: 50px;">Select different file</a>
</div>

<script type="text/javascript">
    
$("#submit_image").click(function(){
    $("#progress").show();
    $.ajax({
        url:    "/submit/create/{{resource}}",
        type:   "POST",
        data:   $("#create_form").serialize(),
        cache:  false,
        success:    function(data) {
            submit_image_finished();
        },
        error:  function(jqXHR, textStatus, errorThrown) {
            $("#progress").hide();
            $("#error_container").html(format_error(jqXHR.responseText, errorThrown));
        }
    })
    //$.post("/submit/create/{{resource}}",
    //    $("#create_form").serialize(),
    //    function(data) {
    //        if (data.error) {
    //            $("#progress").hide();
    //            set_error(data.error);
    //        } else {
    //            submit_image_finished();
    //        }
    //    });
})

</script>