{% extends "base.html" %}
{% load jstmpl %}

{% block content %}

<div class="row">
    <div class="span2">
        <img src="{{photo_url}}" style="margin-bottom: 10px;" /><br />
        {% if is_you %} <!-- and no photo -->
        <a href="/profile/{{user.username}}" >Add photo?</a>
        {% endif %}
    </div>
    <div class="span8">
        {% if is_you and not user2.location %}
        <div class="row">
            <div class="span6"><h2>{{name}}</h2></div>
            <div class="span2"><a href="/profile/{{user.username}}" style="float: right; padding-top: 10px;">Set location?</a></div>
        </div>
        {% else %}
        <h2>{{name}}</h2>
        {{user2.location}}
        {% endif %}
        <div class="clear_both"></div>
        
        {% if user2.description%}
        <div class="full-description">{{user2.description}}</div>
        {% else %}
        <div class="full-description" style="text-align: right">
            <a href="/profile/{{user.username}}">More about youself?</a>
        </div>
        {% endif %}
        <div class="clear_both"></div>
        
        <div class="tabbable">
            <ul class="nav nav-tabs" id="user_tabs">
                <li {% if not active or active == "requests" %}class="active"{% endif %}><a href="#tab_requests" data-toggle="tab">Requests <span class="badge badge-important">{{userprof2.num_requests}}</span></a></li>
                <li {% if active == "photos" %}class="active"{% endif %}><a href="#tab_photos" data-toggle="tab">Photos <span class="badge badge-success">{{userprof2.num_photos}}</span></a></li>
                <!--<li><a href="#tab_areas" data-toggle="tab">Areas <span class="badge badge-success">5</span></a></li>-->
                <li {% if active == "comments" %}class="active"{% endif %}><a href="#tab_comments" data-toggle="tab">Comments <span class="badge badge-success">{{userprof2.num_comments}}</span></a></li>
                <div id="tab_load_spinner"></div>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_requests">
                    <div id="e-requests-list">
                        <div id="requests"></div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_photos"></div>
                <div class="tab-pane" id="tab_areas"></div>
                <div class="tab-pane" id="tab_comments">
                    <div id="comments"></div>
                </div>
            </div>
        </div>        
    </div>
</div>

<script type="text/x-tmpl" id="comment_tmpl">{% jstmpl "js/comment.html" %}</script>
<script type="text/x-tmpl" id="request_tmpl">{% jstmpl "js/request.html" %}</script>
<script type="text/x-tmpl" id="spinner_tmpl">{% jstmpl "js/spinner.html" %}</script>
<script type="text/x-tmpl" id="load_spinner_tmpl">{% jstmpl "js/load_spinner.html" %}</script>
<script type="text/x-tmpl" id="error_tmpl">{% jstmpl "js/error.html" %}</script>

<div id="modal_container"></div>

{% csrf_token %}
{% endblock content %}

{% block footer %}
<script src="/media/js/mustache.js"></script>
<script src="/media/js/paginator.js"></script>
<script src="/media/js/list.js"></script>
<!--<script src="/media/js/comments.js"></script>-->
<script src="/media/js/modal.js"></script>
    
<script type="text/javascript">
    
    //function load_requests()
    //{
    //    // Loads requests
    //    var sel = $("#tab_requests");
    //    $.ajax({
    //        url:    "/user/{{user.username}}/requests/ajax",
    //        type:   "GET",
    //        cache:  false,
    //        beforeSend: function(jqXHR, settings) {
    //            sel.html('<img src="/media/img/spinner_small.gif"/> Loading ...');
    //        },
    //        success:    function(data) {
    //            sel.html(data.data);
    //            set_delete_requests();
    //        },
    //        error:  function(jqXHR, textStatus, errorThrown) {
    //            sel.html(format_error(jqXHR.responseText, errorThrown));
    //            
    //        }
    //    });        
    //}
    
    function load_photos()
    {
        // Loads photos
        var sel = $("#tab_photos");
        $.ajax({
            url:    "/user/{{user.username}}/photos/ajax",
            type:   "GET",
            cache:  false,
            beforeSend: function(jqXHR, settings) {
                sel.html('<img src="/media/img/spinner_small.gif"/> Loading ...');
            },
            success:    function(data) {
                sel.html(data.data);
            },
            error:  function(jqXHR, textStatus, errorThrown) {
                sel.html(format_error(jqXHR.responseText, errorThrown));
            }
        });        
    }
    
    
    //function set_delete_requests()
    //{
    //    $("button.itemDelete").click(function(){
    //        var del_button = this;
    //        var spinner = $("#delete_spinner");
    //        spinner.hide();
    //        $("#body_errors").empty();
    //        $("#delete_btn").click(function() {
    //            $.ajax({
    //                url:    $(del_button).attr("ajaxify"),
    //                type:   "POST",
    //                data:   {"csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()},
    //                cache:  false,
    //                beforeSend: function(jqXHR, settings) {
    //                    spinner.show();
    //                },
    //                success:    function(data) {
    //                    load_requests();
    //                },
    //                error:  function(jqXHR, textStatus, errorThrown) {
    //                    $("#body_errors").html(format_error(jqXHR.responseText, errorThrown));
    //                    spinner.hide();
    //                }
    //            });
    //        });
    //        $("#remove_modal").modal();
    //    });
    //}
    
    $(document).ready(function(){
        
        var comments    = LIST({
            container:      $("#comments"),
            spinner:        $("#tab_load_spinner"),
            baseUrl:        "/user/{{user.username}}/comments/json",
            dataProp:       "data.comments",
            itemProps:      {   
                "text":         "text",
                "username":     "username",
                "date":         "hdate",
                "date_label":   "utcdate",
                "remove_url":   "remove_url",
                "request_resource":     "request.resource",
                "request_description":  "request.description"
            },           
            templates:      {
                item:       $("#comment_tmpl"),
                error:      $("#error_tmpl"),
                spinner:    $("#load_spinner_tmpl")
            },
            fnItemCreated: function(o){
                var com = o.find(".delete_comment");
                MODAL({
                    container:  "modal_container",
                    link:       com,
                    url:        com.attr("ajaxify"),
                    body:       '<div class="alert alert-info error_spaces">Are you sure you want to remove the comment?</div>',
                    header:     "Remove Comment",
                    btn_label:  "Remove",
                    extra_fields:   {"csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()},
                    callback:   function(){
                        comments.load();
                    }
                }).init();                
            }
        });
        
        var requests    = LIST({
            container:      $("#requests"),
            spinner:        $("#tab_load_spinner"),
            baseUrl:        "/user/{{user.username}}/requests/json",
            dataProp:       "data.requests",
            itemProps:      {   
                "description":  "description",
                "username":     "username",
                "thumb_url":    "thumb_url",
                "date":         "hdate",
                "date_label":   "utcdate",
                "remove_url":   "remove_url",
                "resource":     "resource",
                "street":   "location.street",
                "city":     "location.city",
                "country":  "location.country",
                "lat":      "location.lat",
                "lon":      "location.lon"
            },           
            templates:      {
                item:       $("#request_tmpl"),
                error:      $("#error_tmpl"),
                spinner:    $("#load_spinner_tmpl")
            },
            fnItemCreated: function(o){
                var req = o.find(".delete_request");
                MODAL({
                    container:  "modal_container",
                    link:       req,
                    url:        req.attr("ajaxify"),
                    body:       '<div class="alert alert-info error_spaces">Are you sure you want to remove the request?</div>',
                    header:     "Remove Request",
                    btn_label:  "Remove",
                    extra_fields:   {"csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()},
                    callback:   function(){
                        requests.load();
                    }
                }).init();                
            }
        });
        
        // Register tabs
        $('a[data-toggle="tab"]').on('shown', function (e) {
            // XXX: Fix issue with reloading the tab
            //$(this).unbind("click");
            //console.debug(e.target.hash);
            //$(e.target).click(function(){
            //    console.debug($(e.target.hash));
            //    $(this).unbind("click");
            //    //$(e.target).tab("show");
            //});

            
            switch (e.target.hash) {
                case "#tab_requests":
                    requests.load();
                    //load_requests();
                    break;
                case "#tab_photos":
                    load_photos();
                    break;
                case "#tab_comments":
                    comments.load();
                //case "#tab_areas":
                //    load_areas();
                //    break;
            }
            
        });     
        
        requests.load();
        //load_requests();
        //$('a[data-toggle="tab"]').on('show', function (e) {
        //    console.debug(e.target.hash)
        //})
        
        //$('a[href="#tab_requestss"]').tab("show");
    })
</script>

{% endblock %}