{% extends "base.html" %}

{% block content %}

<h3>Users</h3>
<div class="e-margin-bottom-10"></div>
<table>
    <tbody>
	<tr>
	{% for userprof, photo_url in items %}
        {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:"5" %}
        </tr>
        <tr>
        {% endif %}
        <td class="user-info">
            <img src="{{photo_url}}" height="60" width="60" alt=""/>
            <div class="user-details">
                <a href="/user/{{userprof.user.username}}"><b>{{userprof.user.username}}</b></a><br />
                Requests <b>{{userprof.num_requests}}</b><br />
                Photos <b>{{userprof.num_photos}}</b><br />
            </div>
        </td>	    
	{% endfor %}
	</tr>
    </tbody>
</table>
<div class="clear_both"></div>
{% include "misc/pagination.html" %}

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#nav_users").attr("class", "active");
    });
</script>    
{% endblock %}