{% extends "base.html" %}

{% block header %}
<script type="text/javascript">
    
    function load_requests()
    {
        // Loads requests
        var sel = $("#tab_requests");
        $.ajax({
            url:    "/user/{{user.username}}/requests/ajax",
            type:   "GET",
            cache:  false,
            beforeSend: function(jqXHR, settings) {
                sel.html('<img src="/media/img/spinner_small.gif"/> Loading ...');
            },
            success:    function(data) {
                sel.html(data.data);
                set_delete_requests();
            },
            error:  function(jqXHR, textStatus, errorThrown) {
                sel.html(format_error(jqXHR.responseText, errorThrown));
                
            }
        });        
    }
    
    function load_photos()
    {
        // Loads photos
        var sel = $("#tab_photos");
        $.ajax({
            url:    "/user/{{user.username}}/photos/ajax",
            type:   "GET",
            cache:  false,
            beforeSend: function(jqXHR, settings) {
                sel.html('<img src="/media/img/spinner_small.gif"/> Loading ...');
            },
            success:    function(data) {
                sel.html(data.data);
            },
            error:  function(jqXHR, textStatus, errorThrown) {
                sel.html(format_error(jqXHR.responseText, errorThrown));
            }
        });        
    }
    
    function load_areas()
    {
        // Loads photos
        var sel = $("#tab_areas");
        $.ajax({
            url:    "/user/{{user.username}}/areas/ajax",
            type:   "GET",
            cache:  false,
            beforeSend: function(jqXHR, settings) {
                sel.html('<img src="/media/img/spinner_small.gif"/> Loading ...');
            },
            success:    function(data) {
                sel.html(data.data);
            },
            error:  function(jqXHR, textStatus, errorThrown) {
                sel.html(format_error(jqXHR.responseText, errorThrown));
            }
        });   
    }
    
    function set_delete_requests()
    {
        $("button.itemDelete").click(function(){
            var del_button = this;
            var spinner = $("#delete_spinner");
            spinner.hide();
            $("#body_errors").empty();
            $("#delete_btn").click(function() {
                $.ajax({
                    url:    $(del_button).attr("ajaxify"),
                    type:   "POST",
                    data:   {"csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()},
                    cache:  false,
                    beforeSend: function(jqXHR, settings) {
                        spinner.show();
                    },
                    success:    function(data) {
                        load_requests();
                    },
                    error:  function(jqXHR, textStatus, errorThrown) {
                        $("#body_errors").html(format_error(jqXHR.responseText, errorThrown));
                        spinner.hide();
                    }
                });
            });
            $("#remove_modal").modal();
        });
    }
    
    $(document).ready(function(){
        load_requests();
        
        // Register tabs
        $('a[data-toggle="tab"]').on('shown', function (e) {
            switch (e.target.hash) {
                case "#tab_requests":
                    load_requests();
                    break;
                case "#tab_photos":
                    load_photos();
                    break;
                case "#tab_areas":
                    load_areas();
                    break;
            }
            
        });     
        
    })
</script>



{% endblock header %}

{% block content %}

<div class="row">
    <div class="span2">
        <img src="/media/img/user.png" style="margin-bottom: 10px;" /><br />
        {% if is_you %} <!-- and no photo -->
        <a href="/profile/{{user.username}}" >Add photo?</a>
        {% endif %}
    </div>
    <div class="span8">
        {% if is_you and not user2.location %}
        <div class="row">
            <div class="span6"><h2>{{name}}</h2></div>
            <div class="span2"><a href="/profile/{{user.username}}" style="float: right; padding-top: 10px;">Set location?</a></div>
        </div>
        {% else %}
        <h2>{{name}}</h2>
        {{user2.location}}
        {% endif %}
        <div class="clear_both"></div>
        
        {% if user2.description%}
        <div class="full-description">{{user2.description}}</div>
        {% else %}
        <div class="full-description" style="text-align: right">
            <a href="/profile/{{user.username}}">More about youself?</a>
        </div>
        {% endif %}
        <div class="clear_both"></div>
        
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_requests" data-toggle="tab">Requests <span class="badge badge-important">{{userprof2.num_requests}}</span></a></li>
            <li><a href="#tab_photos" data-toggle="tab">Photos <span class="badge badge-success">{{userprof2.num_photos}}</span></a></li>
            <li><a href="#tab_areas" data-toggle="tab">Areas <span class="badge badge-success">5</span></a></li>
          </ul>
          <div class="tab-content">
            <!-- Requests Tab -->
            <div class="tab-pane active" id="tab_requests"></div>
            <!-- Photos Tab -->
            <div class="tab-pane" id="tab_photos">
                <div class="row e-photo-row">
                    <div class="span2">
                        <a href=""><img src="/media/img/photo_medium.png"/></a>
                        <a href="">San Diego, CA</a>
                    </div>
                    <div class="span2">
                        <a href=""><img src="/media/img/photo_medium.png"/></a>
                        <a href="">La Jolla, CA</a>
                    </div>
                    <div class="span2">
                        <a href=""><img src="/media/img/photo_medium.png"/></a>
                        <a href="">Pasadena, CA</a>
                    </div>
                    <div class="span2">
                        <a href=""><img src="/media/img/photo_medium.png"/></a>
                        <a href="">Bloomington, IN</a>
                    </div>
                </div>
            </div>
            <!-- Areas Tab -->
            <div class="tab-pane" id="tab_areas">
                List of areas
            </div>
          </div>
        </div>        
    </div>
</div>

{% csrf_token %}
{% endblock content %}