{% extends "base.html" %}
{% load jstmpl %}

{% block header %}
<style type="text/css" media="all">
.profile_photo {
    margin-bottom: 10px;
}
.profile_location {
    float: right;
    padding-top: 10px;
}
</style>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span2">
        <img src="{{photo_url}}" class="profile_photo" /><br />
        {% if is_you %} <!-- and no photo -->
        <a href="/profile/photo" >
            {% if photo_exists %}
                Update photo
            {% else %}
                Add photo?
            {% endif %}
        </a>
        {% endif %}
    </div>
    <div class="span8">
        <div class="row">
            <div class="span6"><h2>{{name}}</h2></div>
            <div class="span2">
                <div class="profile_location">
                    {% if is_you and not userprof2.location %}
                    <a href="/profile">Set location?</a>
                    {% else %}
                    <div class="label label-info">{{userprof2.location}}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="clear_both"></div>
        
        {% if userprof2.description%}
        <div class="full-description">{{userprof2.description}}</div>
        {% else %}
        <div class="full-description" style="text-align: right">
            <a href="/profile">More about youself?</a>
        </div>
        {% endif %}
        <div class="clear_both"></div>
        
        <div class="tabbable">
            <ul class="nav nav-tabs" id="user_tabs">
                <li>
                    <a href="#tab_requests" data-toggle="tab">
                        Requests <span id="requests_badge" class="badge badge-important">{{userprof2.num_requests}}</span>
                    </a>
                </li>
                <li>
                    <a href="#tab_photos" data-toggle="tab">
                        Photos <span  id="photos_badge" class="badge badge-success">{{userprof2.num_photos}}</span>
                    </a>
                </li>
                <!--<li><a href="#tab_areas" data-toggle="tab">Areas <span class="badge badge-success">5</span></a></li>-->
                <li>
                    <a href="#tab_comments" data-toggle="tab">
                        Comments <span id="comments_badge" class="badge badge-success">{{userprof2.num_comments}}</span>
                    </a>
                </li>
                <div id="tab_load_spinner"></div>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_requests">
                    <div id="requests"></div>
                </div>
                <div class="tab-pane" id="tab_photos">
                    <div class="row e-photo-row">
                        <div id="photos"></div>
                    </div>
                </div>
                <!--<div class="tab-pane" id="tab_areas"></div>-->
                <div class="tab-pane" id="tab_comments">
                    <div id="comments"></div>
                </div>
            </div>
        </div>        
    </div>
</div>

<script type="text/x-tmpl" id="comment_tmpl">{% jstmpl "js/comment.html" %}</script>
<script type="text/x-tmpl" id="request_tmpl">{% jstmpl "js/request.html" %}</script>
<script type="text/x-tmpl" id="image_tmpl">{% jstmpl "js/image.html" %}</script>
<script type="text/x-tmpl" id="image_sep_tmpl">{% jstmpl "js/image_rows_sep.html" %}</script>
<script type="text/x-tmpl" id="spinner_tmpl">{% jstmpl "js/spinner.html" %}</script>
<script type="text/x-tmpl" id="load_spinner_tmpl">{% jstmpl "js/load_spinner.html" %}</script>
<script type="text/x-tmpl" id="error_tmpl">{% jstmpl "js/error.html" %}</script>

<div id="modal_container"></div>

{% csrf_token %}

{% endblock %}

{% block footer %}
<script src="/media/js/mustache.js"></script>
<script src="/media/js/paginator.js"></script>
<script src="/media/js/list.js"></script>
<script src="/media/js/modal.js"></script>
    
<script type="text/javascript">
    
    var requests;
    var photos;
    var comments;    
    
    // Default options
    var requestOpts = {
        container:      $("#requests"),
        spinner:        $("#tab_load_spinner"),
        baseUrl:        "/user/{{userprof2.user.username}}/requests/json",
        dataProp:       "data.requests",
        itemProps:      {   
            "description":  "description",
            "username":     "username",
            "thumb_url":    "thumb_url",
            "date":         "utcdate",
            "date_label":   "hdate",
            "resource":     "resource",
            "street":   "location.street",
            "city":     "location.city",
            "country":  "location.country",
            "lat":      "location.lat",
            "lon":      "location.lon"
        },           
        templates:      {
            item:       $("#request_tmpl"),
            error:      $("#error_tmpl"),
            spinner:    $("#load_spinner_tmpl")
        }
    };
    
    var photoOpts   = {
        container:      $("#photos"),
        spinner:        $("#tab_load_spinner"),
        baseUrl:        "/user/{{userprof2.user.username}}/photos/json",
        dataProp:       "data.photos",
        itemProps:      {
            "resource":     "request.resource",
            "description":  "request.description",
            "image_url":    "image_url",
            "city":         "location.city",
            "country":      "location.country"
        },
        itemsPerRow:    4,
        templates:      {
            item:       $("#image_tmpl"),
            separator:  $("#image_sep_tmpl"),
            error:      $("#error_tmpl"),
            spinner:    $("#load_spinner_tmpl")
        }
        //fnInitComplete: function(data){
        //    if (data !== undefined &&
        //        data.data !== undefined &&
        //        data.data.photos_total !== undefined)
        //    {
        //        $("#photos_badge").html(data.data.photos_total);
        //    }                
        //}
    };

    var commentOpts = {
        container:      $("#comments"),
        spinner:        $("#tab_load_spinner"),
        baseUrl:        "/user/{{userprof2.user.username}}/comments/json",
        dataProp:       "data.comments",
        itemProps:      {   
            "text":         "text",
            "username":     "username",
            "date":         "hdate",
            "date_label":   "utcdate",
            "request_resource":     "request.resource",
            "request_description":  "request.description"
        },           
        templates:      {
            item:       $("#comment_tmpl"),
            error:      $("#error_tmpl"),
            spinner:    $("#load_spinner_tmpl")
        }
    };
    
    
    {% if is_you %}
    // Update options for authorised user
    
    $.extend(true, requestOpts, {
        itemProps:  {
            "remove_url":   "remove_url"
        },
        fnItemCreated: function(o){
            var link = o.find(".delete_request");
            MODAL({
                container:  "modal_container",
                link:       link,
                url:        link.attr("ajaxify"),
                header:     "Remove Request",
                btn_label:  "Remove Request",
                callback:   function(){
                    requests.load();
                }
            }).init();                
        }        
    });
    
    $.extend(true, photoOpts, {
        itemProps:  {
            "remove_url":   "remove_url"
        },
        fnItemCreated: function(o){
            var link = o.find(".delete_photo");
            MODAL({
                container:  "modal_container",
                link:       link,
                url:        link.attr("ajaxify"),
                body:       '<div class="alert error_spaces">Are you sure you want to remove the photo?</div>',
                header:     "Remove Photo",
                btn_label:  "Remove Photo",
                extra_fields:   {"csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()},
                callback:   function(){
                    photos.load();
                }
            }).init();                
        }        
    });
    
    $.extend(true, commentOpts, {
        itemProps:  {
            "remove_url":   "remove_url"
        },
        fnItemCreated: function(o){
            var link = o.find(".delete_comment");
            MODAL({
                container:  "modal_container",
                link:       link,
                url:        link.attr("ajaxify"),
                body:       '<div class="alert alert-info error_spaces">Are you sure you want to remove the comment?</div>',
                header:     "Remove Comment",
                btn_label:  "Remove Comment",
                extra_fields:   {"csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()},
                callback:   function(){
                    comments.load();
                }
            }).init();                
        }
    });       
    
    {% endif %}    
    
    $(document).ready(function(){
        requests    = LIST(requestOpts);
        photos      = LIST(photoOpts);
        comments    = LIST(commentOpts);
    
        // Register tabs
        $('a[data-toggle="tab"]').on('shown', function (e) {
            
            switch (e.target.hash) {
                case "#tab_requests":
                    requests.load();
                    break;
                case "#tab_photos":
                    photos.load();
                    break;
                case "#tab_comments":
                    comments.load();
                //case "#tab_areas":
                //    load_areas();
                //    break;
            }
            
        });     

        // Display tab by passing url
        {% if active == "photos" %}
        $('a[href="#tab_photos"]').tab("show");
        {% elif active == "comments" %}
        $('a[href="#tab_comments"]').tab("show");
        {% else %}
        $('a[href="#tab_requests"]').tab("show");
        {% endif %}
    })
</script>

{% endblock %}