<div class="row">
<div class="e-request-item span8">
    <a href="/request/{{resource}}"><img src="{{thumb_url}}"/></a>
    <div>
        <div class="e-request-description" title="{{description}}">
            <a href="/request/{{resource}}">
                {{description}}
            </a>
            {{#remove_url}}
            <button class="close delete_request" title="Remove request" ajaxify="{{remove_url}}">&times;</button>
            {{/remove_url}}
        </div>
        <div>
            <div title="latitude={{lat}}, longitude={{lon}}" class="pull-left">
                <div style="display: inline">
                {{#street}}
                    <div class="pull-left" >{{street}}</div>
                {{/street}}
                    <div class="address_label">
                        <a href="#" class="label label-success" title="{{city}}{{#city}}, {{/city}}{{country}}">
                        {{city}}{{^city}}{{country}}{{/city}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <div class="e-request-time" title="{{date}}" >{{date_label}}</div>
            </div>
        </div>
    </div>
</div>
</div>