<div class="row e-photo-row">
{% for image, phreq in items %}
{% with phreq.request as req %}
    {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:"4" %}
</div>
<div class="row e-photo-row">
    {% endif %}
    <div class="span2">
        <a href="/request/{{req.resource}}" title="{{req.description|slice:":40"}}{% if req.description|length > 40 %}...{% endif %}">
            <img src="{{image.url}}"/>
        </a>
        {% if req.location.city %}
            <a href="#" class="label label-success">{{req.location.city}}</a>
        {% elif req.location.country %}
            <a href="#" class="label label-success">{{req.location.country}}</a>
        {% endif %}
    </div>
{% endwith %}
{% endfor %}
</div>
  
{% include "misc/pagination.html" %}