<div id="e-requests-list">

{% for item in req_items %}
    {% with req=item.request %}
    <div class="e-request-item span8">
        <a href="/request/{{req.resource}}"><img src="{{item.thumb_url}}"/></a>
        <div>
            <div class="e-request-description" title="{{req.description}}">
                <a href="/request/{{req.resource}}">
                    {{req.description|slice:":60"}}{% if req.description|length > 60 %}...{% endif %}
                </a>
            </div>
            <div>
                <div title="latitude={{ item.lat }}, longitude={{ item.lon }}" class="pull-left">
                    {% include "misc/address.html" %}
                </div>
                <div class="pull-right">
                    <div class="e-request-time" title="{{ item.htime.utc_time }}" >{{ item.htime.human_time }}</div>
                    <div class="pull-right"><a href="">{{req.user.username}}</a></div>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
{% endfor %}               
</div>
<div class="clear_both"></div>
{% include "misc/pagination.html" %}